<div class="p-1 h-[85vh] overflow-y-auto">
  <nz-table #nestedTable [nzData]="applicantList" nzSize="small" [nzLoading]="loading" [nzShowPagination]="false">
    <thead>
      <tr>
        <th style="width: 20px"></th>
        <th>Thông Tin</th>
        <th>Trạng Thái</th>
        <th>Hành Động</th>
      </tr>
    </thead>
    <tbody>
      @for (applicant of applicantList; track applicant.id) {
      <tr>
        <td [nzExpand]="expandSet.has(applicant.id)" [nzExpandIcon]="expandIcon"></td>
        <td>
          <span class="text-xs">{{ applicant.candidate.fullName }}</span>
        </td>
        <td>
          <nz-tag class="w-full text-center" [nzColor]="getStatusColor(applicant.status)" style="padding: 1px 3px 1px 3px; font-size: 11px">
            {{ applicationStatus[applicant.status] }}
          </nz-tag>
        </td>
        <td>
          <div class="flex flex-col items-center">
            <button nz-button nzType="primary" (click)="acceptApplicant(applicant.id)" style="padding: 1px 3px 1px 3px; font-size: 12px">Chấp nhận</button>
            <button nz-button nzType="default" nzDanger (click)="rejectApplicant(applicant.id)" class="mt-1" style="padding: 1px 3px 1px 3px; font-size: 12px">Từ chối</button>
          </div>
        </td>
      </tr>
      <tr [nzExpand]="expandSet.has(applicant.id)" class="px-4">
        <span class="text-xs">Email: {{ applicant.candidate.email }}</span>
        <br />
        <p class="text-xs text-right pt-2">Gửi vào: {{ applicant.createdTime | dateDisplay }}</p>
      </tr>
      @if (applicant.cvFiles.length > 0) {
      <tr [nzExpand]="expandSet.has(applicant.id)">
        <nz-table #innerTable [nzData]="applicant.cvFiles" nzSize="small" [nzShowPagination]="false">
          <thead>
            <tr>
              <th>Tên File</th>
              <th>Hành Động</th>
            </tr>
          </thead>
          <tbody>
            @for (data of innerTable.data; track data) {
            <tr>
              <td>{{ data.fileName }}</td>
              <td class="flex justify-center">
                <button nz-button nzType="primary"><a [href]="data.fileUrl" [download]="data.fileUrl">Tải</a></button>
              </td>
            </tr>
            }
          </tbody>
        </nz-table>
      </tr>
      }
      <ng-template #expandIcon>
        @if (applicant.cvFiles) { @if (!expandSet.has(applicant.id)) {
        <span nz-icon nzType="plus-circle" nzTheme="outline" (click)="onExpandChange(applicant.id, true)"></span>
        } @else {
        <span nz-icon nzType="minus-circle" nzTheme="outline" (click)="onExpandChange(applicant.id, false)"></span>
        }}
      </ng-template>
      }
    </tbody>
  </nz-table>
</div>
