<div class="ant-modal-body">
  <nz-form-item>
    <nz-form-label [nzSpan]="24">Loại Hơp Đồng</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <nz-radio-group [(ngModel)]="seletedType" nzButtonStyle="solid">
        <label
          *ngFor="let option of contractTypeOptions"
          nz-radio-button
          [nzValue]="option.value"
        >{{ option.label }}</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <div *ngIf="seletedType === 2">
    <nz-radio-group [(ngModel)]="isFromDeal">
      <label nz-radio [nzValue]="true">Cho thỏa thuận với:</label>
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Chọn thỏa thuận"
        [nzDisabled]="!isFromDeal"
        [(ngModel)]="selectedDealId"
        (ngModelChange)="touched = true"
        class="w-full py-2"
      >
        <nz-option *ngFor="let deal of dealList" nzCustomContent [nzLabel]="deal.investorName" [nzValue]="deal.id">
          <span class="font-medium">{{ deal.investorName }}</span>
          <span class="ml-2 text-xs opacity-50">{{ deal.amount | vndCurrency }} cho {{ deal.equityShareOffer }}%</span>
        </nz-option>
      </nz-select>

      <label nz-radio [nzValue]="false">Cho nhà đầu tư:</label>
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Chọn nhà đầu tư"
        [nzDisabled]="isFromDeal"
        [(ngModel)]="selectedInvestorId"
        (ngModelChange)="touched = true"
        class="w-full py-2"
      >
        <nz-option *ngFor="let investor of investorList" nzCustomContent [nzLabel]="investor.fullName" [nzValue]="investor.id">
          <span class="font-medium">{{ investor.fullName }}</span>
          <span class="ml-2 text-xs opacity-50">{{ investor.email }}</span>
        </nz-option>
      </nz-select>
    </nz-radio-group>

    <!-- Form Errors -->
    <div *ngIf="!isValid() && touched" class="text-red-500 text-sm mb-4">
      Phải chọn 1 thỏa thuận hoặc nhà đầu tư!
    </div>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-end mt-6">
    <button
      nz-button
      nzType="primary"
      class="px-6"
      type="submit"
      [disabled]="!isValid()"
      (click)="navigateToCreateContract()"
    >
      Create Contract
    </button>
  </div>
</div>
