<form [formGroup]="contractForm" (ngSubmit)="onSubmit()" class="p-4">
  <nz-form-item>
    <nz-form-label [nzSpan]="24">Contract Type</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <nz-radio-group formControlName="contractType" nzButtonStyle="solid">
        <label
          *ngFor="let option of contractTypeOptions"
          nz-radio-button
          [nzValue]="option.value"
        >{{ option.label }}</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Parties -->
  <nz-form-item>
    <nz-form-label [nzSpan]="24">Parties</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <!-- Selected Parties Cards -->
      <div class="flex flex-col gap-2 mb-3" *ngIf="selectedUsers.length > 0">
        <div
          *ngFor="let user of selectedUsers"
          class="flex justify-between items-center px-3 py-2 bg-yellow-50 rounded"
        >
          <div class="flex items-center gap-2">
            <nz-avatar
              [nzText]="user.fullName | initialsOnly"
              [ngStyle]="{'background-color': '#FF4D4F'}"
              class="mr-2"
            ></nz-avatar>
            <div class="flex flex-col">
              <div class="font-medium">{{user.fullName}}</div>
              <div class="text-xs opacity-50">{{user.email}}</div>
            </div>
          </div>
          <button
            nz-button
            nzType="text"
            nzDanger
            (click)="removeParty(user.id)"
          >
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </div>
      </div>

      <!-- Party Search Input -->
      <div class="party-search">
        <nz-select
          class="w-full"
          [(ngModel)]="selectedPartyId"
          [ngModelOptions]="{standalone: true}"
          nzShowSearch
          nzServerSearch
          nzPlaceHolder="Type to search users"
          [nzShowArrow]="false"
          [nzFilterOption]="nzFilterOption"
          (nzOnSearch)="onPartySearch($event)"
          (ngModelChange)="onPartySelect($event)"
        >
          <nz-option
            *ngFor="let user of filteredUsers"
            [nzValue]="user.id"
            [nzLabel]="user.fullName"
            nzCustomContent
          >
            <div class="flex items-center py-1">
              <!-- <nz-avatar
                [nzText]="user.name | initialsOnly"
                [ngStyle]="{'background-color': '#FF4D4F'}"
                class="mr-2"
              ></nz-avatar> -->
              <div class="flex flex-col">
                <div class="font-medium">{{user.fullName}}</div>
                <div class="text-xs opacity-50">{{user.email}}</div>
              </div>
            </div>
          </nz-option>
        </nz-select>
      </div>
    </nz-form-control>
  </nz-form-item>

  <!-- Form Errors -->
  <div *ngIf="contractForm.get('parties')?.errors?.['required'] && contractForm.touched"
       class="text-red-500 text-sm mb-4">
    At least one party is required
  </div>

  <!-- Submit Button -->
  <div class="flex justify-end mt-6">
    <button nz-button
            nzType="primary"
            class="px-6"
            [disabled]="!contractForm.valid"
            type="submit">
      Create Contract
    </button>
  </div>
</form>
