<div class="flex flex-col max-w-6xl mx-auto p-6 md:py-12 min-h-screen">

  <!-- Participating Projects -->
  @if ((userProjects?.length ?? 0) > 0) {
    <div class="flex items-center justify-between mb-8">
      <div class="text-2xl font-medium">Dự án của bạn</div>
      <button (click)="openCreateProjectModal()" nz-button nzType="primary" nzSize="default" 
        style="background-color: #760dcc; border-color: #760dcc; color: white;"
      >Thêm dự án mới
      </button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-12">
      <app-project-card class="cursor-pointer" (click)="onProjectClick(project)" *ngFor="let project of userProjects" [project]="project" />
    </div>
  }

  <!-- No Projects -->
  <div 
    *ngIf="(userProjects?.length ?? 0) === 0 && (userProjects?.length ?? 0) === 0"
    class="flex flex-col justify-center items-center text-gray-500 text-3xl min-h-screen"
  >
    Bạn chưa tham gia dự án nào.
    <div *ngIf="!isInvestor && !isMentor" class="text-xl mt-2">
      <button (click)="openCreateProjectModal()" nz-button nzType="link" nzSize="small">Thêm dự án mới!</button>
    </div>
  </div>

</div>
