@if (isDesktopView) {
<div class="flex h-full w-full border-padding">
  <div class="flex flex-col w-2/5 bg-white border-x">
    @if (isLoading) {
    <div class="flex justify-center items-center h-full w-full">
      <nz-spin nzSimple></nz-spin>
    </div>
    } @else {
    <div class="p-2 bg-white border-y">
      <span>Hiện tại hệ thống có {{ total }} bài post</span>
    </div>
    <div class="overflow-y-auto h-full" (scroll)="onScroll($event)">
      @for (post of recruitmentPostList; track post.id) {
      <app-recruitment-post-card [currrrentPostId]="currentPostId" [recruitmentPost]="post" (onPostSelected)="onPostSelected($event)"></app-recruitment-post-card>
      } @if (isEndOfList) {
      <p class="py-12 text-sm text-center">Bạn đã xem hết danh sách</p>
      }
    </div>
    }
  </div>
  <div class="flex flex-col h-full w-3/5 border-x bg-white">
    <app-recruitment-post-details [currentPostId]="currentPostId"></app-recruitment-post-details>
  </div>
</div>
} @else {
<div class="overflow-y-auto h-full" (scroll)="onScroll($event)">
  @for (post of recruitmentPostList; track post.id) {
  <app-recruitment-post-card [recruitmentPost]="post" (onPostSelected)="onPostSelected($event)"></app-recruitment-post-card>
  } @if (isEndOfList) {
  <p class="py-12 text-sm text-center">Bạn đã xem hết danh sách</p>
  }
</div>
}
