<div class="flex items-center justify-center bg-white sticky top-0 z-50 w-full min-h-[7vh] border-b">
  <div *ngIf="isDesktopView" class="flex items-center justify-between px-6 max-w-6xl mx-auto w-full">
    <div class="text-2xl font-black">
      {{ project?.projectName || 'Startup của bạn' }}
    </div>
    <div class="flex items-center space-x-2">
      <button
        nz-button
        class="flex items-center space-x-2"
        (click)="openMembersModal()"
      >
        <mat-icon fontIcon="group"></mat-icon>
        Thành viên
      </button>
      <button
        nz-button
        class="flex items-center space-x-2"
        [routerLink]="['/projects', project?.id, 'settings']"
      >
        <mat-icon fontIcon="settings"></mat-icon>
        Cài đặt
      </button>
    </div>
  </div>

  <div *ngIf="!isDesktopView" class="flex items-center w-full justify-between">
    <mat-icon (click)="navigateBack()" fontIcon="chevron_left" class="ml-3 scale-125"></mat-icon>
    <div class="font-bold text-xl text-ellipsis text-center flex-grow">
      {{ project?.projectName || 'Startup của bạn' }}
    </div>
    <div class="flex items-center">
      <app-profile-dropdown></app-profile-dropdown>
      <button
        nz-button
        nzType="link"
        class="flex items-center"
        [routerLink]="['/projects', project?.id, 'settings']"
      >
        <mat-icon fontIcon="settings"></mat-icon>
      </button>
    </div>
  </div>
</div>

