<div class="mx-[10%] my-10">
  <div class="text-center gap-y-1">
    <p class="text-4xl font-bold">{{ projectOverview?.projectName }}</p>
  </div>
  <!-- Logo and gọi vốn -->
  <div class="flex flex-col lg:flex-row w-full mt-10 gap-10">
    <!-- Project Logo -->
    <div class="w-full lg:w-1/2 flex items-center justify-end pr-5">
      <!-- Circular Container -->
      <div class="md:w-[500px] md:h-[500px] rounded-full overflow-hidden flex items-center justify-center bg-gray-200">
        <!-- Logo inside the circle -->
        <img class="object-cover w-full h-full" src="{{ projectOverview?.logoUrl }}" alt="project photo" />
      </div>
    </div>

    <!-- Investment Call Information -->
    <div class="w-full lg:w-1/2" *ngIf="projectOverview?.investmentCallResponseDto; else noCall" class="p-3 rounded-lg flex flex-col w-[550px] h-full bg-green-600 justify-left">
      <div class="bg-white px-6 py-6 w-full rounded-lg">
        <!-- Progress Bar -->
        <div class="h-2 bg-green-600 rounded-full w-full"></div>

        <!-- Target and Remaining Amount -->
        <div class="mt-5">
          <p class="text-2xl font-bold text-gray-600 mt-2">Số vốn cần gọi:</p>
          <strong class="text-2xl text-green-600">{{ projectOverview?.investmentCallResponseDto?.targetCall| number }} VND</strong>
        </div>

        <!-- Equity Share Info -->
        <div class="mt-5 flex justify-between">
          <div>
            <p class="text-2xl font-bold text-green-600">{{ projectOverview?.investmentCallResponseDto?.equityShareCall | number }}%</p>
            <p class="text-sm text-gray-600">Cổ phần cho đợt gọi vốn</p>
          </div>
          <div>
            <p class="text-2xl font-bold text-green-600">{{ projectOverview?.investmentCallResponseDto?.remainAvailableEquityShare | number }}%</p>
            <p class="text-sm text-gray-600">Cổ phần còn lại có thể đầu tư</p>
          </div>
        </div>

        <!-- Total Investors -->
        <div class="mt-5">
          <p class="text-2xl font-bold text-gray-600">{{ projectOverview?.investmentCallResponseDto?.totalInvestor }}</p>
          <p class="text-sm text-gray-600">Nhà đầu tư tham gia trong đợt này</p>
        </div>

        <!-- Start and End Date -->
        <div class="mt-5 flex justify-between">
          <div>
            <p class="text-lg font-semibold text-gray-600">{{ projectOverview?.investmentCallResponseDto?.startDate | date : 'dd/MM/yyyy' }}</p>
            <p class="text-sm text-gray-500">Ngày bắt đầu</p>
          </div>
          <div>
            <p class="text-lg font-semibold text-gray-600">
              {{ projectOverview?.investmentCallResponseDto?.endDate ? (projectOverview?.investmentCallResponseDto?.endDate | date : 'dd/MM/yyyy') : 'Chưa xác định' }}
            </p>
            <p class="text-sm text-gray-500">Ngày kết thúc</p>
          </div>
        </div>

        <div class="mt-6 space-y-4">
          <!-- Show "Đầu tư ngay" button when the status is 2 (open) -->
          <button
            *ngIf="projectOverview?.investmentCallResponseDto?.status === 1; else closeCall"
            class="w-full bg-green-600 text-white py-3 rounded-lg transition duration-75 hover:bg-green-700"
            [routerLink]="['/projects', this.projectOverview!.id, 'create-deal']"
          >
            Đầu tư ngay
          </button>

          <!-- Template for when the investment call is closed -->
          <ng-template #closeCall>
            <!-- Check if the status is closed, show the closed message -->
            <div class="flex items-center justify-center h-full rounded-lg">
              <p class="text-2xl font-semibold text-red-500">Đợt đầu tư đã đóng</p>
            </div>
          </ng-template>

          <!-- "Yêu thích" button always displayed -->
          <button class="w-full text-black bg-slate-50 border-2 border-solid border-slate-300 py-3 rounded-lg transition duration-75 hover:border-slate-500">Yêu thích</button>
        </div>
      </div>
    </div>

    <!-- No Investment Call -->
    <ng-template #noCall>
      <div class="flex items-center justify-center h-full rounded-lg">
        <p class="text-2xl font-semibold text-gray-500">Không có lời gọi vốn</p>
      </div>
    </ng-template>
  </div>
</div>

<!-- cam kết các thứ -->
<div class="bg-orange-200 py-3">
  <div class="flex justify-around text-lg items-center">
    <div class="w-72">
      <p>StartedIn kết nối sinh viên với nhà đầu tư để tài trợ cho các dự án.</p>
    </div>
    <div class="w-72">
      <p>Lợi nhuận không đảm bảo nhưng sinh viên làm dự án phải thường xuyên cập nhật người đầu tư.</p>
    </div>
  </div>
</div>

<!-- nav bar -->
<div class="my-10 py-3 bg-white">
  <div class="flex justify-between items-center mx-[10%]">
    <div class="flex gap-8">
      <button
        (click)="currentSelectedTab = 0"
        [ngClass]="{
    'text-green-600 font-bold': currentSelectedTab === 0,
    'text-gray-500 font-medium': currentSelectedTab !== 0
  }"
        class="py-3 px-4 border-b-2 border-transparent hover:text-green-600 hover:border-green-600"
      >
        Thông tin dự án
      </button>

      <button
        (click)="currentSelectedTab = 1"
        [ngClass]="{
    'text-green-600 font-bold': currentSelectedTab === 1,
    'text-gray-500 font-medium': currentSelectedTab !== 1
  }"
        class="py-3 px-4 border-b-2 border-transparent hover:text-green-600 hover:border-green-600"
      >
        Điều lệ dự án
      </button>
    </div>
  </div>
</div>
<div class="md:mx-[10%]">
  @if (currentSelectedTab === 0) {
  <div class="bg-white px-9" [innerHTML]="projectOverview?.projectDetailPost  "></div>
  } @else {

  <app-project-charter class="w-full" [projectId]="projectId"></app-project-charter>
  }
</div>
