<app-filter-bar viewName="Danh mục các cuộc họp" (filterMenuOpened)="onFilterMenuOpened()">
  <div desktop class="p-4 min-w-[400px]">
    <app-meeting-filter [projectId]="projectId" [data]="filterData" (filterApplied)="onFilterApplied($event)"></app-meeting-filter>
  </div>
  <div mobile class="p-4">
    <app-meeting-filter [projectId]="projectId" [data]="filterData" (filterApplied)="onFilterApplied($event)"></app-meeting-filter>
  </div>
</app-filter-bar>

@if(isDesktopView){
<div class="px-10 mt-5">
  <p>
    Danh sách lịch họp
    <nz-switch [(ngModel)]="isTable"></nz-switch>
  </p>
  @if(isTable){
  <app-meeting-table [meetingId]="meetingId" [projectId]="projectId" [filterResult]="filter"></app-meeting-table>

  } @else {

  <app-meeting-calendar [projectId]="projectId"></app-meeting-calendar>
  }
</div>

} @else {
<div class="px-10">
  <app-meeting-table [meetingId]="meetingId" [projectId]="projectId" [filterResult]="filter"></app-meeting-table>
</div>

}
