.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: white;
}

:host ::ng-deep .ant-spin-dot {
  font-size: 24px;
}

.infinite-scroll-container {
  min-height: 100vh;
  padding-bottom: 2rem;
}
