<nz-table
  #contractTable
  nzSize="small"
  [nzFrontPagination]="false"
  [nzData]="listContract.data"
  nzBordered
>
  <thead>
    <tr>
      <th></th>
      <th class="p-4">Hợp đồng</th>
      <th class="p-4 hidden lg:table-cell">Các bên liên quan</th>
      <th class="p-4">Ngày ký</th>
      <th class="p-4 hidden lg:table-cell">Cập nhật cuối</th>
      <th class="p-4">Trạng thái</th>
      <th class="p-4"></th>
    </tr>
  </thead>
  <tbody>
    @for (data of contractTable.data; track data.id) {
    <tr class="cursor-pointer" (click)="navigateToContract(data)">
      <td *ngIf="data.contractType === 2" [(nzExpand)]="data.expand" (click)="$event.stopPropagation()"></td>
      <td *ngIf="data.contractType !== 2"></td>
      <td>
        <div class="text-base font-bold">{{ data.contractName }}</div>
        <div class="text-xs text-gray-500 mb-1">{{ data.contractIdNumber }}</div>
        <span class="text-sm font-medium py-0.5 px-4 rounded-2xl" [ngClass]="{
          'text-blue-500 bg-blue-100': data.contractType === 1,
          'text-green-500 bg-green-100': data.contractType === 2,
          'text-yellow-500 bg-yellow-100': data.contractType === 3
        }">
          {{ getContractTypeLabel(data.contractType) }}
        </span>
      </td>
      <td class="hidden lg:table-cell">
        <div class="flex justify-center">
          <nz-avatar
            *ngFor="let party of data.parties"
            [nzSrc]="party.profilePicture"
            [nzText]="party.fullName | initialsOnly"
            [nzSize]="32"
            class="-mr-2 bg-orange-600 ring-2 ring-white"
          ></nz-avatar>
        </div>
      </td>
      <td>
        <div class="flex justify-center">
          {{ data.validDate | date:'dd/MM/yyyy' }}
        </div>
      </td>
      <td class="hidden lg:table-cell">
        <div class="flex justify-center">
          {{ formatDate(data.lastUpdatedTime) }}
        </div>
      </td>
      <td>
        <div class="p-2 rounded-2xl text-center font-medium" [ngClass]="{
          'text-gray-500 bg-gray-100': data.contractStatus === contractStatuses.DRAFT,
          'text-blue-500 bg-blue-100': data.contractStatus === contractStatuses.SENT,
          'text-green-500 bg-green-100': data.contractStatus === contractStatuses.COMPLETED,
          'text-red-500 bg-red-100': data.contractStatus === contractStatuses.DECLINED,
          'text-orange-500 bg-orange-100': data.contractStatus === contractStatuses.EXPIRED,
          'text-yellow-500 bg-yellow-100': data.contractStatus === contractStatuses.WAITING_FOR_LIQUIDATION
        }">
          {{ statusLabels[data.contractStatus] }}
        </div>
      </td>
      <td>
        <div class="flex justify-center space-x-2">
          <!-- Send Button (Visible for specific conditions) -->
          <button
            *ngIf="data.contractStatus === 1 && isLeader"
            (click)="$event.stopPropagation(); sendContract(data)"
            class="text-blue-500 hover:text-blue-700">
            <mat-icon fontIcon="send"></mat-icon>
          </button>

          <!-- Delete Button (Visible for specific conditions) -->
          <button
            *ngIf="data.contractStatus === 1 && isLeader"
            (click)="$event.stopPropagation(); deleteContract(data)"
            class="text-red-500 hover:text-red-700">
            <mat-icon fontIcon="delete_outline"></mat-icon>
          </button>

          <!-- Download Button -->
          <button
            *ngIf="data.contractStatus !== 1"
            (click)="$event.stopPropagation(); download(data)"
            class="text-green-500 hover:text-green-700">
            <mat-icon fontIcon="file_download"></mat-icon>
          </button>

          <!-- Terminate Button -->
          <button
            *ngIf="data.contractStatus === 3 && data.contractType !== 3"
            (click)="$event.stopPropagation(); openTerminateModal(data)"
            class="text-yellow-500 hover:text-yellow-700">
            <mat-icon fontIcon="timer_off"></mat-icon>
          </button>

          <!-- Liquidation Button (Leader) -->
          <button
            *ngIf="data.contractStatus === 6
              && isLeader
              && data.meetingStatus === 3"
            (click)="$event.stopPropagation(); openLiquidationModal(data)"
            class="text-orange-500 hover:text-orange-700">
            <mat-icon fontIcon="insert_page_break"></mat-icon>
          </button>
        </div>
      </td>
    </tr>
    <tr *ngIf="data.contractType === 2" [nzExpand]="data.expand" >
      <nz-table #innerTable [nzData]="data.disbursements" nzSize="small" [nzShowPagination]="false">
        <thead>
          <tr>
            <td [colSpan]="5">
              <div class="flex justify-around text-lg my-2 space-x-4">
                <div>Tổng giá trị: <strong>{{ data.totalDisbursementAmount | vndCurrency }}</strong></div>
                <div>Đã giải ngân: <strong>{{ data.disbursedAmount | vndCurrency }}</strong></div>
                <div>Chưa giải ngân: <strong>{{ data.pendingAmount | vndCurrency }}</strong></div>
              </div>
            </td>
          </tr>
          <tr>
            <th>Tiêu đề</th>
            <th>Ngày bắt đầu</th>
            <th>Hạn chót</th>
            <th>Số tiền</th>
            <th>Trạng Thái</th>
          </tr>
        </thead>
        <tbody>
          @for (data of innerTable.data; track data) {
          <tr>
            <td>{{ data.title }}</td>
            <td>{{ formatDateOnly(data.startDate) }}</td>
            <td>{{ formatDateOnly(data.endDate) }}</td>
            <td>{{ data.amount | vndCurrency }}</td>
            <td>{{ getDisbursementStatusLabel(data.disbursementStatus) }}</td>
          </tr>
          }
        </tbody>
      </nz-table>
    </tr>
    }
  </tbody>
</nz-table>
