<form class="w-full px-12 py-14" nz-form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <!-- logo section -->
  <div class="flex items-center">
    <img src="../../../assets/img/android-chrome-192x192.png" class="h-8 w-auto" alt="Logo" />
    <div class="text-purple-600 text-2xl font-semibold ml-1">tartedIn</div>
  </div>

  <div class="mt-20 text-2xl font-semibold">Tạo tài khoản</div>
  <!-- select role -->

  <nz-form-item>
    <nz-form-control>
      <nz-form-label nzNoColon>Vai Trò</nz-form-label>
      <nz-select formControlName="role" id="role">
        @for (item of authorityOptions; track $index) { @if ($index !== 0) {
        <nz-option [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        } }
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!-- Email -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="getEmailErrorMessage()">
      <nz-form-label nzNoColon>E-mail</nz-form-label>
      <input nz-input formControlName="email" type="email" class="text-sm py-1 px-[11px] border-[#d9d9d9] rounded-sm" placeholder="khangnv@fpt.edu.vn" />
    </nz-form-control>
  </nz-form-item>

  <!-- Password -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="getPasswordErrorMessage()">
      <nz-form-label nzNoColon>Mật Khẩu </nz-form-label>
      <input maxlength="40" minlength="8" nz-input formControlName="password" type="password" class="text-sm py-1 px-[11px] border-[#d9d9d9] rounded-sm" placeholder="abszc@123!" />
    </nz-form-control>
  </nz-form-item>

  <!-- Confirm Password -->
  <nz-form-item>
    <nz-form-control nzErrorTip="Mật khẩu không giống nhau">
      <nz-form-label nzNoColon>Xác Nhận Mật Khẩu</nz-form-label>
      <input nz-input maxlength="40" type="password" class="text-sm py-1 px-[11px] border-[#d9d9d9] rounded-sm" formControlName="confirmedPassword" placeholder="abszc@123!" />
    </nz-form-control>
  </nz-form-item>

  <!-- FullName -->
  <nz-form-item>
    <nz-form-control nzErrorTip="Vui lòng nhập họ và tên">
      <nz-form-label nzNoColon> Họ và Tên </nz-form-label>
      <input nz-input formControlName="fullName" id="nickname" placeholder="Nguyễn Văn Khang" />
    </nz-form-control>
  </nz-form-item>

  <!-- Phone Number -->
  <nz-form-item>
    <nz-form-control nzErrorTip="Số điện thoại không hợp lệ">
      <nz-form-label nzNoColon>Số Điện Thoại</nz-form-label>
      <nz-input-group>
        <input
          class="text-sm py-1 px-[11px] border-[#d9d9d9] rounded-sm"
          formControlName="phoneNumber"
          type="tel"
          nz-input
          [minlength]="10"
          [maxlength]="10"
          placeholder="0903111013"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Address -->
  <nz-form-item>
    <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ">
      <nz-form-label nzNoColon>Địa Chỉ</nz-form-label>
      <input nz-input formControlName="address" placeholder="19 Lê Quý Đôn, Phường 6, Quận 3" />
    </nz-form-control>
  </nz-form-item>

  <!-- IdCardNumber -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="getIdCardNumberErrorMessage()">
      <nz-form-label nzNoColon>Căn Cước Công Dân</nz-form-label>
      <input nz-input formControlName="idCardNumber" placeholder="0793000111" maxlength="12" />
    </nz-form-control>
  </nz-form-item>

  <!-- check if role is user -->
  @if(registerForm.get('role')?.value === 'User'){
  <!-- studentCode -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="registerForm.get('studentCode')?.hasError('invalidFormat') ? 'Mã số sinh viên chưa đúng định dạng' : 'Vui lòng nhập mã số sinh viên'">
      <nz-form-label nzNoColon>Mã số sinh viên</nz-form-label>
      <input nz-input formControlName="studentCode" id="studentCode" placeholder="SE171212" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="registerForm.get('academicYear')?.hasError('invalidFormat') ? 'Niên khoá phải theo định dạng YYYY-YYYY' : 'Vui lòng nhập niên khoá'">
      <nz-form-label nzNoColon>Niên khoá</nz-form-label>
      <input nz-input formControlName="academicYear" id="academicYear" placeholder="2020-2024" maxlength="9" />
    </nz-form-control>
  </nz-form-item>

  }
  <!-- Submit Button -->
  <button [nzLoading]="loading" class="mt-4 mb-6 rounded-[10px]" [disabled]="registerForm.invalid" nzSize="large" nzBlock nz-button nzType="primary">Đăng Ký</button>
  <p class="text-center">
    Bạn đã có tài khoản?
    <a routerLink="/login" class="cursor-pointer text-blue-500 hover:text-blue-600 transition duration-75"> Đăng nhập ngay</a>
  </p>
</form>
