<app-contract-history-sidebar *ngIf="contract" [contractId]="contract.id" [projectId]="project.id">
  <div class="max-w-3xl mx-auto md:my-4 md:px-4">
    <div class="p-4 md:p-8 bg-white rounded border">
      <div class="font-bold text-3xl text-black mb-6 flex justify-center">Chi tiết biên bản</div>
      <div class="max-w-2xl mx-auto overflow-hidden">
        <!-- Project Name -->
        <div class="flex items-center justify-center text-xl text-gray-800 bg-blue-50 p-2 rounded mb-4">
          <span class="font-bold">Dự án:</span>
          <span class="ml-2">{{ contract.projectName }}</span>
        </div>

        <!-- Contract Details -->
        <div class="px-2 md:px-6">
          <div class="flex flex-col md:flex-row gap-4 mb-4">
            <!-- Contract ID Number -->
            <div class="flex-1">
              <div class="flex items-center">
                <mat-icon fontIcon="numbers" class="text-gray-600 mr-2"></mat-icon>
                <span class="font-semibold text-gray-700">Mã số</span>
              </div>
              <div class="text-gray-800 ml-8">
                {{ contract.contractIdNumber || 'Không có dữ liệu' }}
              </div>
            </div>

            <!-- Contract Name -->
            <div class="flex-1">
              <div class="flex items-center">
                <mat-icon fontIcon="description" class="text-gray-600 mr-2"></mat-icon>
                <span class="font-semibold text-gray-700">Tên biên bản</span>
              </div>
              <div class="text-gray-800 ml-8">
                {{ contract.contractName || 'Không có dữ liệu' }}
              </div>
            </div>
          </div>

          <!-- Contract Policy -->
          <div>
            <div class="flex items-center">
              <mat-icon fontIcon="policy" class="text-gray-600 mr-2"></mat-icon>
              <span class="font-semibold text-gray-700">Điều khoản</span>
            </div>
            <div class="text-gray-800 ml-8">
              {{ contract.contractPolicy || 'Không có điều khoản' }}
            </div>
          </div>
        </div>
      </div>

      <!-- Các bên -->
      <div class="mt-6 px-2 md:px-6">
        <div class="font-bold text-3xl text-black mb-4">Các bên tham gia</div>

        <!-- Danh sách các bên -->
        <div *ngFor="let party of contract.parties; let i = index" class="mb-4 p-2">
          <div class="flex flex-wrap items-center bg-white p-4 rounded-lg shadow-md">
            <!-- Avatar -->
            <div class="w-16 h-16 flex-shrink-0">
              <nz-avatar
                [nzSize]="64"
                [nzText]="party.fullName | initialsOnly"
                [nzSrc]="party.profilePicture"
                class="bg-orange-600 text-xl"
              ></nz-avatar>
            </div>

            <!-- Member Info -->
            <div class="ml-4">
              <div class="text-lg font-semibold text-gray-800">
                {{ party.fullName || 'Không rõ' }}
              </div>
              <div class="text-sm text-gray-600">
                <span>Email: </span>{{ party.email || 'Không rõ' }}
              </div>
              <div class="text-sm text-gray-600">
                <span>Phone: </span>{{ party.phoneNumber || 'Không rõ' }}
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Hành động -->
      <div class="mt-6 flex">
        <button nz-button nzType="link" (click)="navigateBack()">
          Quay lại
        </button>
        <div class="flex-grow"></div>
        <button nz-button nzType="link" (click)="download()" class="mr-2">
          Tải xuống
        </button>
        <button nz-button nzType="primary" (click)="send()" class="mr-2">
          Gửi
        </button>
      </div>
    </div>
  </div>
</app-contract-history-sidebar>

