<div class="max-w-7xl px-8 mx-auto my-12 space-y-8">
  <!-- Go Back Button -->
  <div class="flex">
    <button
      (click)="goBack()"
      class="text-white bg-blue-500 hover:bg-blue-700 px-6 py-3 rounded-md shadow-md">
      ← Quay lại
    </button>
  </div>

  <!-- Card Content -->
  <div class="rounded-lg shadow-lg border border-gray-300">
    <!-- Header -->
    <div class="py-6 px-8 border-b border-gray-300">
      <div class="flex justify-between items-center">
        <div class="text-3xl font-bold text-gray-800">Chi tiết thỏa thuận</div>
        <div>
          <span [ngClass]="{
            'text-yellow-500': deal.dealStatus === dealStatuses.WAITING,
            'text-blue-500': deal.dealStatus === dealStatuses.ACCEPTED,
            'text-red-500': deal.dealStatus === dealStatuses.REJECTED,
            'text-green-500': deal.dealStatus === dealStatuses.CONTRACTCREATED
          }" class="text-lg font-semibold">
            ● {{ statusLabels[deal.dealStatus!] }}
          </span>
        </div>
      </div>
    </div>

    <!-- Card Body -->
    <div class="py-8 px-10 space-y-8">
      <!-- Details Section -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 pt-4">
        <div>
          <div class="text-gray-500 text-sm uppercase">Tên dự án</div>
          <div class="font-medium text-gray-900 text-lg">{{ deal.projectName }}</div>
        </div>

        <div>
          <div class="text-gray-500 text-sm uppercase">Trưởng nhóm</div>
          <div class="font-medium text-gray-900 text-lg">{{ deal.leaderName }}</div>
        </div>

        <div>
          <div class="text-gray-500 text-sm uppercase">Số tiền đầu tư</div>
          <div class="font-medium text-gray-900 text-lg">{{ deal.amount | vndCurrency }}</div>
        </div>

        <div>
          <div class="text-gray-500 text-sm uppercase">Tỉ lệ cổ phần</div>
          <div class="font-medium text-gray-900 text-lg">{{ deal.equityShareOffer }}%</div>
        </div>
      </div>

      <!-- Terms and Conditions Section -->
      <div>
        <div class="text-gray-500 text-sm uppercase">Điều khoản</div>
        <div class="mt-4 whitespace-pre-wrap text-gray-800 text-base">{{ deal.termCondition }}</div>
      </div>
    </div>
  </div>
</div>
