<nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzParagraph]="false">
  <form nz-form [formGroup]="meetingForm" (ngSubmit)="submit()" nzLayout="vertical">
    <!-- Title -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Tiêu Đề</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập tiêu đề">
        <input nz-input formControlName="title" placeholder="Họp tiến độ" />
      </nz-form-control>
    </nz-form-item>

    <!-- Milestone select -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Cột Mốc</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="milestoneId">
          @for (milestone of milestones; track $index) {
          <nz-option nzLabel="{{ milestone.title }}" nzValue="{{ milestone.id }}"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <!-- Appointment Time -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Ngày Họp</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng chọn ngày cho cuộc họp">
        <nz-date-picker nzShowTime formControlName="appointmentTime"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <!-- Description -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">Thông tin buổi họp</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea nz-input formControlName="description" placeholder="Báo cáo tiến độ dự án cuối năm"></textarea>
      </nz-form-control>
    </nz-form-item>

    <!-- Meeting Link -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Link cuộc họp</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập link cuộc họp">
        <input nz-input formControlName="meetingLink" placeholder="https://meet.google.com/own-rajx-xosj" />
      </nz-form-control>
    </nz-form-item>

    <!-- Submit Button -->
    <nz-form-item>
      <nz-form-control>
        <button [disabled]="meetingForm.invalid" nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-skeleton>
