<!-- Form -->
<form nz-form [formGroup]="meetingForm" (ngSubmit)="submit()" nzLayout="vertical">
  <div class="text-gray-500 mb-4">
    Bạn sẽ cần phải tổ chức một cuộc họp với các thành viên và quyết định ai sẽ là nhóm trưởng mới
  </div>

  <div class="text-base md:text-lg font-bold mb-4">Thông tin cuộc họp chuyển giao</div>
  <!-- Title -->
  <nz-form-item>
    <nz-form-label nzRequired>Tiêu đề cuộc họp chuyển giao</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập tiêu đề">
      <nz-input-group>
        <input nz-input formControlName="title" placeholder="Nhập tiêu đề cuộc họp"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Appointment Time -->
  <nz-form-item>
    <nz-form-label nzRequired>Ngày họp chuyển giao</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng chọn ngày">
      <nz-input-group>
        <nz-date-picker
          formControlName="appointmentTime"
          [nzDisabledDate]="disabledDate"
          [nzShowTime]="{ nzFormat: 'HH:mm' }"
          nzFormat="dd/MM/yyyy HH:mm"
          nzPlaceHolder="Chọn ngày và giờ"
          class="w-full"
        ></nz-date-picker>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Meeting Link -->
  <nz-form-item>
    <nz-form-label nzRequired>Link cuộc họp chuyển giao</nz-form-label>
    <nz-form-control [nzErrorTip]="meetingForm.get('meetingLink')?.hasError('required') ? 'Vui lòng nhập link' : 'Link không hợp lệ'">
      <nz-input-group>
        <input nz-input formControlName="meetingLink" placeholder="https://meet.google.com/abc-defg-hij" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Description -->
  <nz-form-item>
    <nz-form-label>Thông tin buổi họp chuyển giao</nz-form-label>
    <nz-form-control>
      <div class="flex items-start relative">
        <!-- Textarea -->
        <textarea
          nz-input
          formControlName="description"
          placeholder="Mô tả chi tiết cuộc họp"
          nzAutosize
        ></textarea>
      </div>
    </nz-form-control>
  </nz-form-item>

  <!-- Submit Button -->
  <div class="flex justify-end mt-6">
    <button
      nz-button
      nzType="link"
      (click)="closeModal()"
    >
      Hủy
    </button>
    <button
      type="submit"
      [disabled]="meetingForm.invalid"
      nz-button
      nzType="primary"
      [nzLoading]="isLoading"
    >
      Tạo
    </button>
  </div>
</form>
