<nz-table #investmentCallTable nzSize="small" [nzFrontPagination]="false" [nzData]="listInvestmentCall" [nzLoading]="isFetchAllCallLoading" [nzBordered]="true">
  <thead>
    <tr>
      <th></th>
      <th>Mục tiêu</th>
      <th>Số tiền đã gọi</th>
      <th>Cổ phần cần gọi</th>
      <th>Cổ phần còn lại</th>
      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Trạng thái</th>
      <th>Tổng số nhà đầu tư</th>
    </tr>
  </thead>
  <tbody>
    @for (data of investmentCallTable.data; track data.id) {
    <tr>
      <td [(nzExpand)]="data.expand"></td>
      <td class="text-green-500">{{ data.targetCall | number }}</td>
      <td class="text-green-500">{{ data.amountRaised | number }}</td>
      <td>{{ data.equityShareCall / 100 | percent }}</td>
      <td>{{ data.remainAvailableEquityShare / 100 | percent }}</td>
      <td>{{ data.startDate === null ? 'Không Có Ngày bắt đầu' : (data.startDate | date : "d 'tháng' M, Y") }}</td>
      <td>{{ data.endDate === null ? 'Không Có Ngày kết thúc' : (data.endDate | date : "d 'tháng' M, Y") }}</td>
      <td [ngClass]="{ 'text-red-500': data.status === 2, 'text-green-500': data.status === 1 }">{{ getStatusLabel(data.status) }}</td>
      <td>{{ data.totalInvestor }}</td>
    </tr>
    <tr [nzExpand]="data.expand">
      <nz-table #innerTable [nzData]="data.dealOffers" nzSize="small" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>Nhà Đầu Tư</th>
            <th>Số Tiền Đầu Tư</th>
            <th>Số Cổ Phần</th>
            <th>Điều Khoản</th>
            <th>Trạng Thái</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (data of innerTable.data; track data) {
          <tr (click)="navigateToDealDetails(data)">
            <td>{{ data.investorName }}</td>
            <td class="text-green-500">{{ data.amount | number }}</td>
            <td>{{ data.equityShareOffer / 100 | percent }}</td>
            <td>{{ data.termCondition }}</td>
            <td [ngClass]="{ 'text-orange-700':data.dealStatus === 4, 'text-red-500': data.dealStatus === 3, 'text-green-500': data.dealStatus === 2, 'text-gray-500': data.dealStatus === 1 }">
              {{ getDealStatusLabel(data.dealStatus) }}
            </td>
            <td class="p-4" (click)="$event.stopPropagation()">
              <div *ngIf="data.dealStatus === 1" class="space-x-2 h-6">
                <button (click)="$event.stopPropagation(); acceptDeal(data)" class="text-green-500 hover:text-green-700">
                  <mat-icon fontIcon="check"></mat-icon>
                </button>
                <button (click)="$event.stopPropagation(); rejectDeal(data)" class="text-red-500 hover:text-red-700">
                  <mat-icon fontIcon="close"></mat-icon>
                </button>
              </div>
              <div *ngIf="data.dealStatus === 2" class="space-x-2 h-6">
                <button (click)="$event.stopPropagation(); navigateToCreateContract(data)" class="text-blue-500 hover:text-blue-700">
                  <mat-icon fontIcon="history_edu_icon"></mat-icon>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </nz-table>
    </tr>
    }
  </tbody>
</nz-table>
