<nz-table #investmentCallTable nzSize="small" [nzFrontPagination]="false" [nzData]="listInvestmentCall" [nzLoading]="isFetchAllCallLoading">
  <thead>
    <tr>
      <th>Mục tiêu</th>
      <th>Số tiền đã gọi</th>
      <th>Cổ phần cần gọi</th>
      <th>Cổ phần còn lại</th>
      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Trạng thái</th>
      <th>Tổng số nhà đầu tư</th>
    </tr>
  </thead>
  <tbody>
    @for (data of investmentCallTable.data; track data.id) {
    <tr>
      <td class="text-green-500">{{ data.targetCall | number }}</td>
      <td class="text-green-500">{{ data.amountRaised | number }}</td>
      <td>{{ data.equityShareCall / 100 | percent }}</td>
      <td>{{ data.remainAvailableEquityShare / 100 | percent }}</td>
      <td>{{ data.startDate === null ? 'Không Có Ngày bắt đầu' : (data.startDate | date : "d 'tháng' M, Y") }}</td>
      <td>{{ data.endDate === null ? 'Không Có Ngày kết thúc' : (data.endDate | date : "d 'tháng' M, Y") }}</td>
      <td [ngClass]="{ 'text-red-500': data.status === 2, 'text-green-500': data.status === 1 }">{{ getStatusLabel(data.status) }}</td>
      <td>{{ data.totalInvestor }}</td>
    </tr>
    }
  </tbody>
</nz-table>
