<nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzTitle]="true" [nzParagraph]="{ rows: 5 }">
  @if(!loading){

  <div class="modal-content">
    <div class="text-3xl font-bold text-center mb-4">{{ meetingDetail.title }}</div>

    <nz-descriptions [nzSize]="'middle'" [nzBordered]="true">
      <nz-descriptions-item nzTitle="Chi tiết" [nzSpan]="3">
        <i nz-icon nzType="info-circle" nzTheme="outline" class="mr-2"></i>
        {{ meetingDetail.description || 'Không có thông tin' }}
      </nz-descriptions-item>

      @if(meetingDetail.contractId && meetingDetail.contractType) {
      <nz-descriptions-item nzTitle="Hợp đồng" [nzSpan]="3">
        <i nz-icon nzType="file" nzTheme="outline" class="mr-2"></i>
        <a (click)="navigateToContract(meetingDetail.contractType, meetingDetail.contractId)">{{ meetingDetail.contractName ?? 'Hợp đồng vô danh' }}</a>
      </nz-descriptions-item>
      }

      <nz-descriptions-item nzTitle="Cột mốc" [nzSpan]="2">
        <i nz-icon nzType="flag" nzTheme="outline" class="mr-2"></i>
        {{ meetingDetail.milestoneName || 'Không xác định' }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Trạng thái">
        <i nz-icon [nzType]="getStatusIcon()" [nzTheme]="getStatusTheme()" [ngClass]="getStatusColor()" class="mr-2"></i>
        {{ getMeetingStatusLabel(meetingDetail.status) }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Bắt đầu" [nzSpan]="2">
        <i nz-icon nzType="calendar" nzTheme="outline" class="mr-2"></i>
        {{ meetingDetail.appointmentTime | date : 'dd/MM/yyyy HH:mm' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Kết thúc" [nzSpan]="3">
        <i nz-icon nzType="calendar" nzTheme="outline" class="mr-2"></i>
        {{ meetingDetail.appointmentEndTime ? (meetingDetail.appointmentEndTime | date : 'dd/MM/yyyy HH:mm') : 'Chưa có thời gian kết thúc' }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Link cuộc họp" [nzSpan]="3">
        <i nz-icon nzType="link" nzTheme="outline" class="mr-2"></i>
        <a *ngIf="meetingDetail.meetingLink; else noLink" href="{{ meetingDetail.meetingLink }}" target="_blank"> Truy cập cuộc họp </a>
        <ng-template #noLink>Không có liên kết</ng-template>
      </nz-descriptions-item>

      <!-- meeting attachment -->
      <nz-descriptions-item nzTitle="Tài liệu đính kèm" [nzSpan]="3">
        <ul>
          @if(meetingDetail.documents.length === 0) {
          <li>
            <i nz-icon nzType="file" nzTheme="outline" class="mr-2"></i>
            Không có tài liệu đính kèm
          </li>
          } @for (document of meetingDetail.documents; track $index) {
          <li>
            <a href="{{ document.attachmentLink }}" target="_blank">{{ document.documentName }}</a>
          </li>
          }
        </ul>
      </nz-descriptions-item>

      <!-- Meeting notes -->
      <nz-descriptions-item nzTitle="Biên bản cuộc họp" [nzSpan]="3">
        <!-- Only show when meeting finished -->
        @if(meetingDetail.status === 3) {
        <ul>
          @for (meetingNote of meetingDetail.meetingNotes; track $index) {
          <li>
            <a href="{{ meetingNote.meetingNoteLink }}" target="_blank">{{ meetingNote.fileName }}</a>
          </li>
          }
        </ul>

        <div class="mt-4">
          <button nz-button nzType="default" (click)="openUploadModal()"><i nz-icon nzType="upload" nzTheme="outline" class="mr-2"></i>Tải lên biên bản cuộc họp</button>
        </div>
        }@else {
        <ul>
          <li>
            <i nz-icon nzType="lock" nzTheme="outline" class="mr-2"></i>
            Chỉ khả dụng khi cuộc họp kết thúc
          </li>
        </ul>
        }
      </nz-descriptions-item>
    </nz-descriptions>
    <!-- Manual Start and End Buttons -->
    <div class="flex justify-center mt-6 gap-4">
      <button nz-button nzType="primary" nzShape="round" (click)="startMeeting()" [disabled]="meetingDetail.status !== MeetingStatus.PROPOSED">Bắt đầu cuộc họp</button>
      <button nz-button nzDanger nzShape="round" (click)="endMeeting()" [disabled]="meetingDetail.status !== MeetingStatus.ONGOING">Kết thúc cuộc họp</button>
    </div>
  </div>
  }
</nz-skeleton>
