<div class="max-w-md mx-auto p-4 rounded-md">
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical">
    <div class="grid grid-cols-1 gap-4">
      <!-- Asset Name Field -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true" class="text-lg font-semibold">Tên Tài sản</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng nhập tên tài sản'" class="text-sm">
          <input
            nz-input
            formControlName="assetName"
            class="py-2 px-3 text-sm"
            placeholder="Nhập tên tài sản"
          />
        </nz-form-control>
      </nz-form-item>

      <!-- Serial Number Field -->
      <nz-form-item>
        <nz-form-label class="text-lg font-semibold">Số serial</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng nhập số serial'" class="text-sm">
          <input
            nz-input
            formControlName="serialNumber"
            class="py-2 px-3 text-sm"
            placeholder="Nhập số serial"
          />
        </nz-form-control>
      </nz-form-item>

      <!-- Price Field -->
      <nz-form-item>
        <nz-form-label class="text-lg font-semibold">Giá</nz-form-label>
        <nz-form-control>
          <nz-input-number
            class="w-full py-2 text-sm"
            formControlName="price"
            [nzStep]="1000"
            [nzFormatter]="vndFormatter"
            [nzParser]="vndParser"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <!-- Quantity Field -->
      <nz-form-item>
        <nz-form-label class="text-lg font-semibold">Số lượng</nz-form-label>
        <nz-form-control>
          <nz-input-number
            class="w-full py-2 text-sm"
            formControlName="quantity"
            [nzMin]="1"
            [nzPrecision]="1"
            [nzStep]="1"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <!-- Purchase Date Field -->
      <nz-form-item>
        <nz-form-label class="text-lg font-semibold">Ngày Mua</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng chọn ngày mua'" class="text-sm">
          <nz-date-picker
            class="w-full py-2 text-sm"
            formControlName="purchaseDate"
            nzPlaceHolder="Chọn ngày mua"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- Submit Button -->
    <nz-form-item class="mt-6">
      <nz-form-control>
        <div class="flex justify-end">
          <button
            nz-button
            nzType="primary"
            class="py-2 px-4 text-sm"
            [disabled]="assetForm.invalid"
          >
            Tạo
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
