<form [formGroup]="assetForm" (ngSubmit)="showConfirmMessage()" nz-form nzLayout="vertical">
  <div class="grid grid-cols-1">
    <div>

      <nz-form-item>
        <nz-form-label [nzRequired]="true" class="text-lg font-semibold">Tên Tài sản</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng nhập tên tài sản'" class="text-sm">
          <input
            nz-input
            formControlName="assetName"
            class="py-2 px-3 text-sm"
            placeholder="Nhập tên tài sản"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-row [nzGutter]="16">
        <!-- Serial Number Field -->
        <nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label class="text-lg font-semibold">Số serial</nz-form-label>
            <nz-form-control [nzErrorTip]="'Vui lòng nhập số serial'" class="text-sm">
              <input
                nz-input
                formControlName="serialNumber"
                class="py-2 px-3 text-sm"
                placeholder="Nhập số serial"
              />
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="12">
          <!-- Purchase Date Field -->
          <nz-form-item>
            <nz-form-label class="text-lg font-semibold">Ngày Mua</nz-form-label>
            <nz-form-control [nzErrorTip]="'Vui lòng chọn ngày mua'" class="text-sm">
              <nz-date-picker
                class="w-full py-2 text-sm"
                formControlName="purchaseDate"
                nzPlaceHolder="Chọn ngày mua"
                nzFormat="dd/MM/yyyy"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </div>

    <div>
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <!-- Price Field -->
          <nz-form-item>
            <nz-form-label [nzRequired]="true" class="text-lg font-semibold">Giá</nz-form-label>
            <nz-form-control>
              <nz-input-number
                class="w-full py-2 text-sm"
                formControlName="price"
                [nzStep]="1000000"
                [nzPrecision]="-3"
                [nzFormatter]="vndFormatter"
                [nzParser]="vndParser"
              ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col [nzSpan]="12">
          <!-- Quantity Field -->
          <nz-form-item>
            <nz-form-label [nzRequired]="true" class="text-lg font-semibold">Số lượng ban đầu</nz-form-label>
            <nz-form-control>
              <nz-input-number
                class="w-full py-2 text-sm"
                formControlName="quantity"
                [nzMin]="1"
                [nzPrecision]="0"
              ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </div>
  </div>

  <!-- Submit Button -->
  <nz-form-item>
    <nz-form-control>
      <div class="flex justify-end">
        <button
          nz-button
          nzType="primary"
          class="py-4 px-8 text-lg font-semibold flex items-center justify-center"
          [disabled]="assetForm.invalid"
        >
          Tạo
        </button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

