<div class="flex items-center justify-center bg-white sticky top-0 z-50 w-full min-h-[7vh] border-b">
  <div *ngIf="isDesktopView" class="flex items-center justify-between px-3 max-w-6xl mx-auto w-full">
    <div>
      <span class="text-xl font-medium">{{ viewName }}</span>
    </div>
    <div class="flex items-center space-x-3">
      <button
        *ngIf="projectId"
        nz-button
        nzType="default"
        class="flex items-center space-x-2"
        (click)="openMembersModal()"
      >
        <mat-icon fontIcon="group"></mat-icon>
        Thành viên
      </button>
    </div>
  </div>

  <div *ngIf="!isDesktopView" class="flex items-center w-full justify-between border-2">
    <mat-icon (click)="navigateBack()" fontIcon="chevron_left" class="ml-2"></mat-icon>
    <span>{{ viewName }}</span>
    <div class="flex items-center space-x-3 mr-2">
      <app-profile-dropdown></app-profile-dropdown>
    </div>
  </div>
</div>

