<div class="max-w-7xl px-8 mx-auto my-12 space-y-8">
  <!-- Card Content -->
  <div class="rounded-lg shadow-lg border border-gray-300 bg-white">
    <!-- Header -->
    <div class="py-6 px-8 border-b border-gray-300">
      <div class="flex justify-between items-center">
        <div class="text-3xl font-bold text-gray-800">Chi tiết thỏa thuận</div>
        <div>
          <span [ngClass]="{
            'text-yellow-500': deal.dealStatus === dealStatuses.WAITING,
            'text-blue-500': deal.dealStatus === dealStatuses.ACCEPTED,
            'text-red-500': deal.dealStatus === dealStatuses.REJECTED,
            'text-green-500': deal.dealStatus === dealStatuses.CONTRACTCREATED
          }" class="text-lg font-semibold">
            ● {{ statusLabels[deal.dealStatus!] }}
          </span>
        </div>
      </div>
    </div>

    <!-- Card Body -->
    <div class="py-8 px-10 space-y-8 border-b border-gray-300">
      <!-- Details Section -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-4">
        <div>
          <div class="text-gray-500 text-sm uppercase">Nhà đầu tư</div>
          <div class="font-medium text-gray-900 text-lg">{{ deal.investorName }}</div>
        </div>

        <div>
          <div class="text-gray-500 text-sm uppercase">Số tiền đầu tư</div>
          <div class="font-medium text-gray-900 text-lg">{{ deal.amount | vndCurrency }}</div>
        </div>

        <div>
          <div class="text-gray-500 text-sm uppercase">Tỉ lệ cổ phần</div>
          <div class="font-medium text-gray-900 text-lg">{{ deal.equityShareOffer }}%</div>
        </div>
      </div>

      <!-- Terms and Conditions Section -->
      <div>
        <div class="text-gray-500 text-sm uppercase">Điều khoản</div>
        <div class="mt-4 text-gray-800 text-base" [innerHTML]="deal.termCondition"></div>
      </div>

      <div class="mt-6">
        <div class="font-bold text-2xl text-black mb-2">Đợt giải ngân</div>

        <nz-list [nzDataSource]="deal.disbursements" [nzRenderItem]="disbursementItem">
          <ng-template #disbursementItem let-item let-index="index">
            <nz-list-item>
              <div class="w-full p-4 rounded-lg shadow-sm transition-all bg-green-50">
                <div class="flex flex-col md:flex-row md:items-center justify-between gap-4">

                  <div class="flex-grow">
                    <div class="flex items-center gap-2 mb-2">
                      <mat-icon class="text-gray-600" fontIcon="account_balance"></mat-icon>
                      <div class="text-lg font-semibold m-0">{{ item.title }}</div>
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 text-gray-600 mb-2">
                      <div class="flex items-center gap-2">
                        <mat-icon class="text-gray-500 scale-90" fontIcon="calendar_today"></mat-icon>
                        <span>{{ item.startDate | date:'dd/MM/yyyy' }} - {{ item.endDate | date:'dd/MM/yyyy' }}</span>
                      </div>

                      <div class="flex items-center gap-2">
                        <mat-icon class="text-gray-500 scale-90" fontIcon="payments"></mat-icon>
                        <span class="font-medium text-lg">{{ item.amount | vndCurrency }}</span>
                      </div>
                    </div>

                    <div class="flex items-center gap-2">
                      <mat-icon class="text-gray-600" fontIcon="description"></mat-icon>
                      <div class="font-semibold m-0">{{ item.condition }}</div>
                    </div>
                  </div>

                </div>
              </div>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    </div>


    <div class="flex justify-between">
      <button
        (click)="goBack()"
        class="text-blue-500 hover:text-blue-700 px-8 py-3">
        Quay lại
      </button>

      <!-- Action Buttons -->
      <div *ngIf="deal?.dealStatus === dealStatuses.WAITING" class="flex justify-end space-x-4 mr-4">
        <button
          (click)="rejectDeal()"
          class="text-red-500 hover:text-red-700 py-3 rounded-md border border-red-500 hover:border-red-700"
          [disabled]="isLoading"
        >
          Từ chối
        </button>
        <button
          (click)="acceptDeal()"
          class="text-white bg-green-500 hover:bg-green-700 my-2 px-3 py-1 rounded-md shadow-md"
          [disabled]="isLoading"
        >
          Chấp nhận
        </button>
      </div>

      <div *ngIf="deal?.dealStatus === dealStatuses.ACCEPTED" class="flex justify-end mr-4">
        <button
          (click)="navigateToCreateContract()"
          class="text-white bg-blue-500 hover:bg-blue-700 my-2 px-3 py-1 rounded-md shadow-md"
        >
          Tạo hợp đồng
        </button>
      </div>
    </div>
  </div>
</div>
