<div class="border-padding flex min-h-[52px] flex-1 items-center justify-between bg-orange-400">
  @if (isDesktopView) {
  <div class="flex items-center border-purple-400 bg-white rounded-sm">
    <img src="../../../assets/img/android-chrome-192x192.png" class="h-[40px]" />
    <span class="text-purple-400 text-3xl ml-1 pr-2">tartedIn</span>
  </div>
  <div class="flex justify-between w-72">
    <span [routerLink]="['/project-list']" class="text-white cursor-pointer text-xl">Dự Án</span>
    <span [routerLink]="['/recruitment']" class="text-white cursor-pointer text-xl">Tìm Nhóm</span>
  </div>
  <div>
    <app-profile-dropdown></app-profile-dropdown>
  </div>
  } @else {
  <div class="flex items-center border-purple-400 bg-white rounded-sm">
    <img src="../../../assets/img/android-chrome-192x192.png" class="h-[40px]" />
    <span class="text-purple-400 text-3xl ml-1 pr-2">tartedIn</span>
  </div>
  <div>
    <app-profile-dropdown></app-profile-dropdown>
  </div>
  }
</div>
