input.remove-highlight:focus {
    outline-width: 0;
}

.app-icon {
    max-height: 35px;
    max-width: 35px;
}

.active-link {
  @apply border-b-2 border-b-black opacity-100;
  animation: activeLinkAnimation 0.3s ease-in-out;
}

@keyframes activeLinkAnimation {
  0% {
    opacity: 1;
    border-bottom-color: transparent;
  }
  100% {
    opacity: 1;
    border-bottom-color: black;
  }
}