<div class="w-full">
  <!-- Body -->
  <form nz-form [formGroup]="milestoneForm" class="px-6 py-4">
    <!-- Milestone Title -->
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzRequired>Milestone Title</nz-form-label>
      <nz-form-control [nzSpan]="24" nzErrorTip="Please input milestone title!">
        <input nz-input formControlName="milestoneTitle" placeholder="Enter milestone title" />
      </nz-form-control>
    </nz-form-item>

    <!-- Description -->
    <nz-form-item>
      <nz-form-label [nzSpan]="24">Description</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <textarea 
          nz-input 
          formControlName="description" 
          [nzAutosize]="{ minRows: 3, maxRows: 5 }"
          placeholder="Enter milestone description">
        </textarea>
      </nz-form-control>
    </nz-form-item>

    <!-- Due Date -->
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzRequired>Due Date</nz-form-label>
      <nz-form-control [nzSpan]="24" nzErrorTip="Please select due date!">
        <nz-date-picker 
          formControlName="dueDate"
          class="w-full"
          nzFormat="yyyy-MM-dd">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <!-- Phase -->
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzRequired>Phase</nz-form-label>
      <nz-form-control [nzSpan]="24" nzErrorTip="Please select a phase!">
        <nz-select formControlName="phaseEnum" nzPlaceHolder="Select a phase">
          <nz-option
          *ngFor="let phase of phaseStates"
          [nzValue]="phase.value"
          [nzLabel]="phase.label">
        </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>

  <!-- Footer -->
  <div class="px-6 py-4 border-t flex justify-end space-x-2">
    <button nz-button nzType="default" (click)="closeModal()">
      Cancel
    </button>
    <button 
      nz-button 
      nzType="primary" 
      [disabled]="!milestoneForm.valid"
      (click)="onSubmit()">
      Create Milestone
    </button>
  </div>
</div>
