<div class="min-h-[52px] border-b-2 relative">
  <span (click)="navigateToHome()">Back Button</span>
  <p>Filter bar</p>
</div>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works!</p>
<p>task-view works! End</p>
