<nz-table
  #basicTable
  nzSize="small"
  [nzFrontPagination]="false"
  [nzLoading]="isFetchAllTaskLoading"
  [nzData]="taskList"
  [nzTotal]="total"
  [nzPageIndex]="page"
  [nzPageSize]="size"
  (nzPageIndexChange)="onPageChange($event)"
>
  <thead>
    <tr>
      <th>Tên Tác Vụ</th>
      <th>Trạng Thái</th>
      <th>Ngày Bắt Đầu</th>
      <th>Ngày Kết Thúc</th>
      <th>Người Tạo</th>
      <th>Hành Động</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data.id) {
    <tr>
      <td class="font-semibold text-base">{{ data.title }}</td>
      <td>
        <nz-tag [nzColor]="getStatusColor(data.status)" [nzBordered]="false" class="text-sm font-medium text-center">
          {{ labels[data.status] }}
        </nz-tag>
      </td>
      <td class="text-base">{{ data.startDate === null ? 'Không Có Ngày Bắt Đầu' : (data.startDate | date : "d 'tháng' M, h:mm a") }}</td>
      <td class="text-base">{{ data.endDate === null ? 'Không Có Ngày Kết Thúc' : (data.endDate | date : "d 'tháng' M, h:mm a") }}</td>
      <td class="text-base">{{ data.createdBy }}</td>
      <td>
        <button nz-button nzType="text" (click)="openUpdateTaskModal(data.id)"><i class="text-blue-500" nz-icon nzType="info-circle" nzTheme="outline"></i></button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="text" nzDanger (nzOnConfirm)="handleDeleteTask(data.id)" nz-popconfirm nzPopconfirmTitle="Bạn muốn xóa tác vụ này không?">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
