<nz-table #basicTable nzSize="middle" [nzLoading]="isFetchAllTaskLoading" [nzData]="taskList">
  <thead>
    <tr>
      <th>Tên Tác Vụ</th>
      <th>Trạng Thái</th>
      <th>Hạn Chót</th>
      <th>Người Tạo</th>
      <th>Hành Động</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data.id) {
    <tr>
      <td>{{ data.title }}</td>
      <td>{{ labels[data.status] }}</td>
      <td>{{ data.deadline === null ? 'Không Có Hạn Chót' : (data.deadline | date : "d 'tháng' M, h:mm a") }}</td>
      <td>{{ data.createdBy }}</td>
      <td>
        <button nz-button nzType="primary" (click)="openUpdateTaskModal(data.id)">Chỉnh Sửa</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (nzOnConfirm)="handleDeleteTask(data.id)" nz-popconfirm nzPopconfirmTitle="Bạn muốn xóa tác vụ này không?">Xóa</button>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
