<div class="mx-4 md:mx-10 my-4 md:my-10">
  <!-- Project Info Card -->
  <div class="bg-white rounded-lg shadow-lg p-6">
    <div class="flex flex-col lg:flex-row gap-8">
      <!-- Logo Section -->
      <div class="lg:w-1/3">
        <div class="aspect-w-16 aspect-h-9">
          <img class="object-contain rounded-lg w-full h-full" [src]="project.logoUrl" [alt]="project.projectName" />
        </div>
      </div>

      <!-- Project Details Section -->
      <div class="lg:w-2/3 space-y-6">
        <div class="flex items-center text-3xl font-bold text-gray-800">
          {{ project.projectName }}
          <!-- Project Status Badge -->
          <span
            class="ml-4 px-3 py-1.5 rounded-full text-sm inline-flex items-center"
            [ngClass]="{
              'bg-yellow-100 text-yellow-800': project.projectStatus === projectStatus.CONSTRUCTING,
              'bg-green-100 text-green-800': project.projectStatus === projectStatus.ACTIVE,
              'bg-red-100 text-red-800': project.projectStatus === projectStatus.CLOSED
            }"
          >
            {{ statusLabels[project.projectStatus] }}
          </span>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <div class="text-gray-600 font-semibold">Trưởng nhóm</div>
            <div class="text-xl">{{ project.leaderFullName }}</div>
          </div>

          <div>
            <div class="text-gray-600 font-semibold">Cổ phần còn lại</div>
            <div class="text-xl">{{ project.remainingPercentOfShares }}%</div>
          </div>

          <div>
            <div class="text-gray-600 font-semibold">Ngày bắt đầu</div>
            <div class="text-xl">{{ project.startDate | date:'dd/MM/yyyy' }}</div>
          </div>

          <div>
            <div class="text-gray-600 font-semibold">Ngày kết thúc (dự kiến)</div>
            <div class="text-xl">{{ project.endDate ? (project.endDate | date:'dd/MM/yyyy') : 'Chưa xác định' }}</div>
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <div>
              <div class="text-gray-600 font-semibold">Mô tả</div>
              <div class="text-gray-800 mt-2">{{ project.description }}</div>
            </div>

            <div
              class="text-lg font-bold text-blue-600 pt-5"
              [ngClass]="{
                'text-red-600': !project.isSignedInternalContract,
                'text-green-600': project.isSignedInternalContract
              }"
            >
              {{ project.isSignedInternalContract ? 'Đã ký' : 'Chưa ký' }} hợp đồng nội bộ
            </div>
          </div>

          <div>
            <div class="text-gray-600 font-semibold mt-2">Số thành viên tối đa: {{project.maxMember}}</div>
            <div class="text-gray-600 font-semibold mt-2">Số thành viên hiện tại: {{project.currentMember}}</div>
          </div>
        </div>

        <div *ngIf="project?.projectStatus === projectStatus.CONSTRUCTING">
          <button (click)="verifyProject()" class="w-full bg-green-600 text-white py-3 rounded-lg transition duration-75 hover:bg-green-700">Xác nhận dự án</button>
        </div>
      </div>
    </div>
  </div>

  <!-- nav bar -->
  <div class="my-10 py-3 bg-white">
    <div class="flex justify-between items-center ml-9">
      <div class="flex gap-8">
        <button
          (click)="currentSelectedTab = 0"
          [ngClass]="{
    'text-green-600 font-bold': currentSelectedTab === 0,
    'text-gray-500 font-medium': currentSelectedTab !== 0
  }"
          class="py-3 px-4 border-b-2 border-transparent hover:text-green-600 hover:border-green-600"
        >
          Thông tin dự án
        </button>

        <button
          (click)="currentSelectedTab = 1"
          [ngClass]="{
    'text-green-600 font-bold': currentSelectedTab === 1,
    'text-gray-500 font-medium': currentSelectedTab !== 1
  }"
          class="py-3 px-4 border-b-2 border-transparent hover:text-green-600 hover:border-green-600"
        >
          Điều lệ dự án
        </button>
      </div>
    </div>
  </div>
  @if (currentSelectedTab === 0) {
  <div class="bg-white p-9" [innerHTML]="project.projectDetailPost"></div>
  } @else {

  <app-project-charter [projectId]="project.id"></app-project-charter>
  }
</div>
