<form [formGroup]="filterForm" class="ant-modal-body">
  <!-- Contract Name -->
  <nz-form-item>
    <nz-form-label [nzSpan]="24">Contract Name</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <nz-input-group>
        <input
          nz-input
          formControlName="contractName"
          placeholder="Search by contract name"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Contract Type -->
  <nz-form-item>
    <nz-form-label [nzSpan]="24">Contract Type</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <nz-radio-group formControlName="contractType" nzButtonStyle="solid">
        <label nz-radio-button nzValue="">Tất cả</label>
        <label
          *ngFor="let option of contractTypeOptions"
          nz-radio-button
          [nzValue]="option.value"
        >{{ option.label }}</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Parties -->
  <nz-form-item>
    <nz-form-label [nzSpan]="24">Parties</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <!-- Selected Parties Cards -->
      <div class="flex flex-col gap-2 mb-3" *ngIf="selectedUsers.length > 0">
        <div
          *ngFor="let user of selectedUsers"
          class="flex justify-between items-center px-3 py-2 bg-yellow-50 rounded"
        >
          <div class="flex items-center gap-2">
            <nz-avatar
              [nzText]="user.fullName | initialsOnly"
              class="mr-2 bg-orange-600"
            ></nz-avatar>
            <div class="flex flex-col">
              <div class="font-medium">{{user.fullName}}</div>
              <div class="text-xs opacity-50">{{user.email}}</div>
            </div>
          </div>
          <button
            nz-button
            nzType="text"
            nzDanger
            (click)="removeParty(user.id)"
          >
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </div>
      </div>

      <!-- Party Search Input -->
      <div class="party-search">
        <nz-select
          class="w-full"
          [(ngModel)]="selectedPartyId"
          [ngModelOptions]="{standalone: true}"
          nzShowSearch
          nzServerSearch
          nzPlaceHolder="Type to search users"
          [nzShowArrow]="false"
          [nzFilterOption]="nzFilterOption"
          (nzOnSearch)="onPartySearch($event)"
          (ngModelChange)="onPartySelect($event)"
        >
          <nz-option
            *ngFor="let user of filteredUsers"
            [nzValue]="user.id"
            [nzLabel]="user.fullName"
            nzCustomContent
          >
            <div class="flex items-center py-1">
              <!-- <nz-avatar
                [nzText]="user.name | initialsOnly"
                [ngStyle]="{'background-color': '#FF4D4F'}"
                class="mr-2"
              ></nz-avatar> -->
              <div class="flex flex-col">
                <div class="font-medium">{{user.fullName}}</div>
                <div class="text-xs opacity-50">{{user.email}}</div>
              </div>
            </div>
          </nz-option>
        </nz-select>
      </div>
    </nz-form-control>
  </nz-form-item>

  <!-- Date Range -->
  <nz-form-item>
    <nz-form-label [nzSpan]="24">Last Updated Date Range</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <nz-range-picker
        class="w-full"
        [formControlName]="'dateRange'"
        nzFormat="yyyy-MM-dd"
      ></nz-range-picker>
    </nz-form-control>
  </nz-form-item>

  <!-- Status -->
  <nz-form-item>
    <nz-form-label [nzSpan]="24">Contract Status</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <nz-select
        class="w-full"
        formControlName="contractStatus"
        nzPlaceHolder="Select contract status"
      >
        <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
        <nz-option
          *ngFor="let option of contractStatusOptions"
          [nzValue]="option.value"
          [nzLabel]="option.label"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="ant-modal-footer">
  <button nz-button (click)="resetFilters()">
    Reset
  </button>
  <button
    nz-button
    nzType="primary"
    (click)="applyFilters()"
  >
    Apply Filters
  </button>
</div>
