<form [formGroup]="projectCharterForm" (ngSubmit)="saveEdit()" class="bg-white flex flex-col gap-5">
  <form class="p-2 bg-amber-100 rounded-md">
    <div>
      <label class="block text-sm font-semibold p-2">BỐI CẢNH DỰ ÁN</label>
      <editor apiKey="udr1ucdb6ezw9pwxicqthw0l741159mvailir8438x0nobwx" [init]="init" formControlName="businessCase"></editor>
    </div>

    <div>
      <label class="block text-sm font-semibold p-2">MỤC TIÊU</label>
      <editor apiKey="udr1ucdb6ezw9pwxicqthw0l741159mvailir8438x0nobwx" [init]="init" formControlName="goal"></editor>
    </div>

    <div>
      <label class="block text-sm font-semibold p-2">MỤC ĐÍCH</label>
      <editor apiKey="udr1ucdb6ezw9pwxicqthw0l741159mvailir8438x0nobwx" [init]="init" formControlName="objective"></editor>
    </div>

    <div>
      <label class="block text-sm font-semibold p-2">PHẠM VI</label>
      <editor apiKey="udr1ucdb6ezw9pwxicqthw0l741159mvailir8438x0nobwx" [init]="init" formControlName="scope"></editor>

    <div>
      <label class="block text-sm font-semibold p-2">HẠN CHẾ</label>
      <editor apiKey="udr1ucdb6ezw9pwxicqthw0l741159mvailir8438x0nobwx" [init]="init" formControlName="constraints"></editor>
    </div>

    <div>
      <label class="block text-sm font-semibold p-2">GIẢ ĐỊNH</label>
      <editor apiKey="udr1ucdb6ezw9pwxicqthw0l741159mvailir8438x0nobwx" [init]="init" formControlName="assumptions"></editor>
    </div>

    <div>
      <label class="block text-sm font-semibold p-2">KẾT QUẢ ĐẦU RA</label>
      <editor apiKey="udr1ucdb6ezw9pwxicqthw0l741159mvailir8438x0nobwx" [init]="init" formControlName="deliverables"></editor>
    </div>
    </div>
  </form>
  <div class="text-right">
    <button [disabled]="projectCharterForm.invalid" class="rounded-md" nz-button nzType="primary" type="submit">Lưu</button>
  </div>
</form>
