<div class="p-4 bg-gray-50 min-h-screen">
  <div class="max-w-lg mx-auto">
    <nz-list nzBordered [nzItemLayout]="'horizontal'" class="bg-white rounded-lg shadow-sm">
      @for (milestone of milestones; track milestone.id) {
      <nz-list-item class="flex flex-col gap-2">
        <div class="w-full">
          <h4 class="text-lg font-medium mb-1">{{ milestone.title }}</h4>
          <div class="flex items-center gap-2">
            <span class="text-sm text-gray-500">
              <span class="mr-1">Ngày kết thúc:</span>
              {{ milestone.dueDate | date : 'dd/MM/yyyy' }}
            </span>
            <div class="px-3 py-1 rounded-full inline-block">
              <span class="text-sm font-medium whitespace-nowrap">
                {{ statusLabels[milestone.phaseName] }}
              </span>
            </div>
          </div>
        </div>
      </nz-list-item>
      }
    </nz-list>
  </div>
</div>
