<nz-table
  #nestedTable
  [nzFrontPagination]="false"
  [nzLoading]="isFetchAllTaskLoading"
  [nzData]="milestoneList"
  [nzTotal]="total"
  [nzPageIndex]="page"
  [nzPageSize]="size"
  (nzPageIndexChange)="onPageChange($event)"
>
  <thead>
    <tr>
      <th style="width: 30px"></th>
      <th>Tên Cột Mốc</th>
      <th>Ngày Bắt Đầu</th>
      <th>Ngày Kết Thúc</th>
      <th>Giai đoạn</th>
      <th>Tiến Độ</th>
      <th *ngIf="isLeader">Hành Động</th>
    </tr>
  </thead>
  <tbody>
    @for (data of nestedTable.data; track data.id) {
    <tr>
      <td [nzExpand]="expandSet.has(data.id)" [nzExpandIcon]="expandIcon"></td>
      <td>{{ data.title }}</td>
      <td>{{ formatDate(data.startDate) }}</td>
      <td>{{ formatDate(data.endDate) }}</td>
      <td>{{ data.phaseName }}</td>
      <td>
        @if (data.progress !== null) {
        <nz-progress [nzPercent]="data.progress" [nzStrokeWidth]="20"></nz-progress>
        } @else {
        <span>Hiện không có tác vụ</span>
        }
      </td>
      <td *ngIf="isLeader">
        <button nz-button nzType="primary" [routerLink]="data.id">Chi Tiết</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzDanger (nzOnConfirm)="handleDeleteMilestone(data.id)" nz-popconfirm nzPopconfirmTitle="Bạn muốn xóa cột mốc này không?">Xóa</button>
      </td>
    </tr>
    @if (data.appointments.length > 0) {
    <tr [nzExpand]="expandSet.has(data.id)">
      <nz-table #innerTable [nzData]="data.appointments" nzSize="small" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>Tên cuộc họp</th>
            <th>Giờ Họp</th>
            <th>Hành Động</th>
          </tr>
        </thead>
        <tbody>
          @for (data of innerTable.data; track data.id) {
          <tr>
            <td>{{ data.title }}</td>
            <td>{{ data.appointmentTime | date : "d 'tháng' M, h:mm a" }}</td>
            <td>
              <ng-container *ngIf="data.status === 3; else checkCancelled">
                <span style="color: #b70abd; font-weight: bolder;">Cuộc họp đã kết thúc</span>
              </ng-container>
              <ng-template #checkCancelled>
                <ng-container *ngIf="data.status === 4; else activeMeeting">
                  <span style="color: #fa1414; font-weight: bolder;">Cuộc họp đã bị huỷ</span>
                </ng-container>
              </ng-template>
              <ng-template #activeMeeting>
                <button nz-button nzType="primary">
                  <a [href]="data.meetingLink">Vào Meet</a>
                </button>
              </ng-template>
            </td>
          </tr>
          }
        </tbody>
      </nz-table>
    </tr>
    }
    <ng-template #expandIcon>
      @if (data.appointments.length > 0) { @if (!expandSet.has(data.id)) {
      <span nz-icon nzType="plus-circle" nzTheme="outline" (click)="onExpandChange(data.id, true)"></span>
      } @else {
      <span nz-icon nzType="minus-circle" nzTheme="outline" (click)="onExpandChange(data.id, false)"></span>
      } }
    </ng-template>
    }
  </tbody>
</nz-table>
