<nz-table
  #basicTable
  nzSize="small"
  [nzFrontPagination]="false"
  [nzLoading]="isFetchAllTaskLoading"
  [nzData]="milestoneList"
  [nzTotal]="total"
  [nzPageIndex]="page"
  [nzPageSize]="size"
  (nzPageIndexChange)="onPageChange($event)"
>
  <thead>
    <tr>
      <th>Tên Tác Vụ</th>
      <th>Ngày Bắt Đầu</th>
      <th>Ngày Kết Thúc</th>
      <th>Giai đoạn</th>
      <th>Tiến Độ</th>
      <th>Hành Động</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data.id) {
    <tr>
      <td>{{ data.title }}</td>
      <td>{{ formatDate(data.startDate) }}</td>
      <td>{{ formatDate(data.endDate) }} </td>
      <td>{{ data.phaseName}} </td>
      <td>
        @if (data.progress !== null) {
        <nz-progress [nzPercent]="data.progress" [nzStrokeWidth]="20"></nz-progress>
        } @else {
        <span>Hiện không có tác vụ</span>
        }
      </td>
      <td>
        <button nz-button nzType="primary" (click)="openUpdateMilestoneModal(data.id)">Chi Tiết</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (nzOnConfirm)="handleDeleteMilestone(data.id)" nz-popconfirm nzPopconfirmTitle="Bạn muốn xóa cột mốc này không?">Xóa</button>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
