<mat-drawer-container class="h-full">
  <mat-drawer [opened]="opened" mode="side" [style.width]="'200px'">
    <div class="w-full h-full bg-white flex flex-col">
      <div class="flex justify-between items-center ml-2">
        <div class="m-2 text-2xl font-black">Menu</div>
        <button class="m-2 flex h-10 w-10 items-center justify-center rounded-full bg-white hover:bg-slate-200" (click)="sideNavToggle()">
          <mat-icon fontIcon="chevron_left"></mat-icon>
        </button>
      </div>

      <div class="flex items-center">
        <hr class="ml-4 mr-2 flex-grow">
        <span class="text-center text-gray-400 text-xs">Tổng quan</span>
        <hr class="ml-2 mr-4 flex-grow">
      </div>
      <div class="flex flex-col my-2">
        @for (link of overviewSideNavLinks; track link.linkName) {
          <div
            *ngIf="!link.hide"
            [routerLink]="['/projects', currentId, link.linkName]"
            class="flex ml-4 my-1 cursor-pointer"
          >
            <mat-icon [fontIcon]="link.iconName"></mat-icon>
            <span class="text-lg mx-2">{{ link.linkText }}</span>
          </div>
        } @empty { }
      </div>

      <div class="flex items-center">
        <hr class="ml-4 mr-2 flex-grow">
        <span class="text-center text-gray-400 text-xs">Dự án</span>
        <hr class="ml-2 mr-4 flex-grow">
      </div>
      <div class="flex flex-col my-2">
        @for (link of projectSideNavLinks; track link.linkName) {
          <div
            *ngIf="!link.hide"
            [routerLink]="['/projects', currentId, link.linkName]"
            class="flex ml-4 my-1 cursor-pointer"
          >
            <mat-icon [fontIcon]="link.iconName"></mat-icon>
            <span class="text-lg mx-2">{{ link.linkText }}</span>
          </div>
        } @empty { }
      </div>

      <div class="flex items-center">
        <hr class="ml-4 mr-2 flex-grow">
        <span class="text-center text-gray-400 text-xs">Hợp đồng</span>
        <hr class="ml-2 mr-4 flex-grow">
      </div>
      <div class="flex flex-col my-2">
        @for (link of contractSideNavLinks; track link.linkName) {
          <div
            *ngIf="!link.hide"
            [routerLink]="['/projects', currentId, link.linkName]"
            class="flex ml-4 my-1 cursor-pointer"
          >
            <mat-icon [fontIcon]="link.iconName"></mat-icon>
            <span class="text-lg mx-2">{{ link.linkText }}</span>
          </div>
        } @empty { }
      </div>

      <div *ngIf="showCall" class="flex items-center">
        <hr class="ml-4 mr-2 flex-grow">
        <span class="text-center text-gray-400 text-xs">Kêu gọi</span>
        <hr class="ml-2 mr-4 flex-grow">
      </div>
      <div *ngIf="showCall" class="flex flex-col my-2">
        @for (link of callSideNavLinks; track link.linkName) {
          <div
            *ngIf="!link.hide"
            [routerLink]="['/projects', currentId, link.linkName]"
            class="flex ml-4 my-1 cursor-pointer"
          >
            <mat-icon [fontIcon]="link.iconName"></mat-icon>
            <span class="text-lg mx-2">{{ link.linkText }}</span>
          </div>
        } @empty { }
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="flex h-full">
      @if (!opened) {
        <div class="flex flex-col bg-white border items-center">
          <button class="m-2 flex h-10 w-10 items-center justify-center rounded-full bg-white hover:bg-slate-200" (click)="sideNavToggle()">
            <mat-icon fontIcon="chevron_right"></mat-icon>
          </button>
          <hr class="w-full mb-4" />
          @for (link of overviewSideNavLinks; track link.linkName) {
            <mat-icon
              *ngIf="!link.hide"
              [routerLink]="['/projects', currentId, link.linkName]"
              [fontIcon]="link.iconName"
              class="my-1.5 cursor-pointer"
            ></mat-icon>
          } @empty { }
          <hr class="w-full my-4" />
          @for (link of projectSideNavLinks; track link.linkName) {
            <mat-icon
              *ngIf="!link.hide"
              [routerLink]="['/projects', currentId, link.linkName]"
              [fontIcon]="link.iconName"
              class="my-1.5 cursor-pointer"
            ></mat-icon>
          } @empty { }
          <hr class="w-full my-4" />
          @for (link of contractSideNavLinks; track link.linkName) {
            <mat-icon
              *ngIf="!link.hide"
              [routerLink]="['/projects', currentId, link.linkName]"
              [fontIcon]="link.iconName"
              class="my-1.5 cursor-pointer"
            ></mat-icon>
          } @empty { }
          <hr *ngIf="showCall" class="w-full my-4" />
          @for (link of callSideNavLinks; track link.linkName) {
            <mat-icon
              *ngIf="!link.hide && showCall"
              [routerLink]="['/projects', currentId, link.linkName]"
              [fontIcon]="link.iconName"
              class="my-1.5 cursor-pointer"
            ></mat-icon>
          } @empty { }
        </div>
      }
      <div class="max-h-[86vh] w-full overflow-y-scroll">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
