<mat-drawer-container class="h-full">
  <mat-drawer [opened]="opened" mode="side" [style.width]="'250px'">
    <div class="w-full h-full bg-white">
      <div class="flex justify-between items-center ml-2">
        <div class="m-2 text-2xl font-black">Menu</div>
        <button class="m-2 flex h-10 w-10 items-center justify-center rounded-full bg-white hover:bg-slate-200" (click)="sideNavToggle()">
          <mat-icon fontIcon="chevron_left"></mat-icon>
        </button>
      </div>

      <hr class="mx-4" />
      <div *ngIf="isUser" class="flex flex-col my-2">
        @for (link of userSideNavLinks; track link.linkText) {
          <div [routerLink]="['/projects', currentId, link.linkName]" class="flex ml-4 my-1 cursor-pointer">
            <mat-icon [fontIcon]="link.iconName"></mat-icon>
            <span class="text-lg mx-2">{{ link.linkText }}</span>
          </div>
        } @empty { }
        <div class="flex ml-4 my-1 cursor-pointer">
          <mat-icon fontIcon="group_icon"></mat-icon>
          <span class="text-lg mx-2">Thành Viên</span>
        </div>
      </div>
      <div *ngIf="!isUser" class="flex flex-col my-2">
        @for (link of investorSideNavLinks; track link.linkText) {
          <div [routerLink]="['/projects', currentId, link.linkName]" class="flex ml-4 my-1 cursor-pointer">
            <mat-icon [fontIcon]="link.iconName"></mat-icon>
            <span class="text-lg mx-2">{{ link.linkText }}</span>
          </div>
        } @empty { }
        <div class="flex ml-4 my-1 cursor-pointer">
          <mat-icon fontIcon="group_icon"></mat-icon>
          <span class="text-lg mx-2">Thành Viên</span>
        </div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="flex h-full">
      @if (!opened) {
        <div class="flex flex-col bg-white border items-center">
          <button class="mt-2 mb-5 mx-2 flex h-10 w-10 items-center justify-center rounded-full bg-white hover:bg-slate-200" (click)="sideNavToggle()">
            <mat-icon fontIcon="chevron_right"></mat-icon>
          </button>
          @for (link of userSideNavLinks; track link.linkName) {
            <mat-icon *ngIf="isUser" [routerLink]="['/projects', currentId, link.linkName]" [fontIcon]="link.iconName" class="my-[6px] cursor-pointer"></mat-icon>
          } @empty { }
          @for (link of investorSideNavLinks; track link.linkName) {
            <mat-icon *ngIf="!isUser" [routerLink]="['/projects', currentId, link.linkName]" [fontIcon]="link.iconName" class="my-[6px] cursor-pointer"></mat-icon>
          } @empty { }
          <mat-icon fontIcon="group_icon" class="my-[6px]"></mat-icon>
        </div>
      }
      <div class="max-h-[86vh] w-full overflow-y-scroll">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
