<div class="bg-white p-4 m-4 rounded-lg">
  @if (isFetchMilestoneDetailLoading) {
  <div class="min-h-[74vh]"></div>
  <div class="fixed top-1/2 left-1/2 -translate-x-1/2">
    <nz-spin nzSimple></nz-spin>
  </div>
  } @else {
  <div class="flex-1 overflow-y-auto my-6">
    <div class="px-4 mb-2">
      <button nz-button class="flex justify-center items-center" (click)="back()">
        <mat-icon fontIcon="chevron_left" class="text-black"></mat-icon>
        <span> Back</span>
      </button>
    </div>
    <form [formGroup]="milestoneForm" nz-form nzLayout="vertical" class="px-4">
      <!-- Title Field -->
      <div class="flex justify-between">
        <nz-form-item class="w-1/4">
          <nz-form-label [nzRequired]="true">Tên cột mốc</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập tên cột mốc'">
            <input nz-input formControlName="title" placeholder="Nhập tên cột mốc" (ngModelChange)="handleInfoChanged()" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="w-1/4">
          <nz-form-label>Giai đoạn</nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="phase"
              nzPlaceHolder="Chọn giai đoạn"
              (nzOpenChange)="handleOpenPhasesSelect()"
              (nzScrollToBottom)="loadMorePhases()"
              (ngModelChange)="handleInfoChanged()"
            >
              <nz-option nzValue="" nzLabel="Không Chọn"></nz-option>
              @if (initialPhaseId) {
              <nz-option [nzValue]="initialPhaseId" [nzLabel]="initialPhase!.phaseName"></nz-option>
              } @for (phase of phases; track $index) {
              <nz-option [nzValue]="phase.id" [nzLabel]="phase.phaseName"></nz-option>
              } @if (isPhasesFetchLoading) {
              <nz-option nzDisabled nzCustomContent>
                <span nz-icon nzType="loading" class="loading-icon"></span>
                Loading Data...
              </nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Description Field -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Nội dụng</nz-form-label>
        <nz-form-control>
          <editor [apiKey]="editorKey" [init]="init" formControlName="description" (onKeyUp)="handleInfoChanged()"></editor>
        </nz-form-control>
      </nz-form-item>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Ngày Bắt Đầu</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng ngày bắt đầu cột mốc'">
            <nz-date-picker
              class="w-full"
              formControlName="startDate"
              nzPlaceHolder="Chọn ngày bắt đầu cột mốc"
              (ngModelChange)="handleInfoChanged()"
              [nzDisabledDate]="disableStartDate"
              nzFormat="dd/MM/yyyy"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Ngày Kết Thúc</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng ngày kết thúc cột mốc'">
            <nz-date-picker
              class="w-full"
              formControlName="endDate"
              nzPlaceHolder="Chọn ngày kết thúc cột mốc"
              (ngModelChange)="handleInfoChanged()"
              [nzDisabledDate]="disableEndDate"
              nzFormat="dd/MM/yyyy"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-item>
        <div class="flex justify-between items-center w-full">
          <p>Tác Vụ Con</p>
          <button (click)="openCreateTaskModal()" nz-button nzType="primary" class="flex items-center space-x-2 w-fit cursor-pointer mb-2">
            <mat-icon fontIcon="add_icon"></mat-icon>
            Thêm Tác Vụ
          </button>
        </div>
        <nz-form-control>
          <nz-table #basicTable nzSize="small" nzShowPagination="false" [nzData]="assignedTasks">
            <thead>
              <tr>
                <th>Tên Tác Vụ</th>
                <th>Trạng Thái</th>
                <th>Ngày Bắt Đầu</th>
                <th>Ngày Kết thúc</th>
                <th>Người Tạo</th>
              </tr>
            </thead>
            <tbody>
              @for (data of basicTable.data; track data.id) {
              <tr (click)="naviagteToTaskView()" class="cursor-pointer">
                <td>{{ data.title }}</td>
                <td>
                  <nz-tag [nzColor]="getStatusColor(data.status)" [nzBordered]="false" class="text-center">
                    {{ taskStatusLabels[data.status] }}
                  </nz-tag>
                </td>
                <td>{{ data.startDate === null ? 'Không Có Ngày Bắt Đầu' : (data.startDate | date : "d 'tháng' M, h:mm a") }}</td>
                <td>{{ data.endDate === null ? 'Không Có Hạn Chót' : (data.endDate | date : "d 'tháng' M, h:mm a") }}</td>
                <td>{{ data.createdBy }}</td>
              </tr>
              }
            </tbody>
          </nz-table>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  }
  <div class="flex items-center justify-between px-4 py-2 bg-white border-t">
    <button nz-button nzType="primary" nzDanger (nzOnConfirm)="handleDeleteMilestone()" nz-popconfirm nzPopconfirmTitle="Bạn muốn xóa cột mốc này không?">Xóa Cột Mốc</button>
    <button nz-button nzType="primary" (click)="onSubmit()" [disabled]="milestoneForm.invalid || !isInfoChanged">Cập Nhật</button>
  </div>
</div>
