<div class="flex flex-col md:flex-row w-full">
  <div class="hidden md:block w-3/5">
    <img
      src="../../../../assets/img/login_image.jpg"
      class="w-full h-screen object-cover"
      alt="Login Image"
    />
  </div>
  <div class="w-full md:w-2/5 p-8 md:p-16">
    <!-- logo section -->
    <div class="flex items-center">
      <img src="../../../../assets/img/android-chrome-192x192.png" class="h-8 w-auto" alt="Logo" />
      <div class="text-purple-600 text-2xl font-semibold ml-1">tartedIn</div>
    </div>

    <form [formGroup]="loginForm" class="">
      <div class="mt-28 mb-8 text-2xl font-semibold">Chào mừng bạn đến với Startedin</div>

      <nz-form-item class="mb-4">
        <nz-form-control [nzErrorTip]="'Vui lòng nhập email hợp lệ'">
          <nz-form-label nzNoColon>Email</nz-form-label>
          <nz-input-group nzSize="large" nzPrefixIcon="mail">
            <input nz-input formControlName="email" placeholder="Nhập email" type="email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="mb-4">
        <nz-form-control [nzErrorTip]="'Vui lòng nhập mật khẩu'">
          <nz-form-label nzNoColon>Mật Khẩu</nz-form-label>
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input nz-input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Nhập mật khẩu" />
            <div (click)="togglePasswordVisibility()" class="cursor-pointer">
              <i nz-icon [nzType]="showPassword ? 'eye-invisible' : 'eye'"></i>
            </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div *ngIf="failedValidation" class="text-red-500 text-sm mt-2">Vui lòng nhập email và mật khẩu</div>

      <button [nzLoading]="loading" nz-button nzType="primary" nzSize="large" nzBlock [disabled]="loginForm.invalid" class="mt-4 rounded-[10px]" type="submit" (click)="onSubmit()">
        Đăng nhập
      </button>

      <div class="my-7 leading-5">
        <p class="text-center cursor-pointer text-blue-500 hover:text-blue-600 transition duration-75">Quên mật khẩu?</p>
        <p class="text-center">
          Bạn chưa có tài khoản?
          <a routerLink="/register" class="cursor-pointer text-blue-500 hover:text-blue-600 transition duration-75"> Đăng ký ngay</a>
        </p>
      </div>
    </form>
  </div>
</div>
