<div class="w-full flex">
  <app-register-form class="w-2/5"></app-register-form>
  <div class="w-3/5 h-screen sticky top-0">
    <img
      src="https://s3-alpha-sig.figma.com/img/b700/b1ab/86ce81993c00fe97ce0e8f0380e7e505?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=k6wxZti5mjEUZYsNnHCufXNz03lTaSytXPuWgegmL96Iu2VIYy~V5d3GsnMeCCtEYMJ~BdUy~SlstHovQra~9kLqDupuAIQEZDe5dlVXlGZL016yltoVw0hQLJdAy5sGup7Ps9I-~k-dFmPNeAa0wt6v0UcLWaTxMlZWd7bJkT~ET4yGtSMytHpjLJMbr1jZYODLyRxiMC~b2cnXVXbx6nriyIZQ6FZFFR2NjUrlASNCfoXYazTak0Cs9BdU2lykIfH1Ug98tKc40QblI1y6wdaRWI2jdixJsuE0AHshhId0eX8SVPu-IkVFf0AVEAcdtEFa89X5konU~d5WGhiHPQ__"
      alt="Register Image"
      class="w-full h-screen object-cover"
    />
  </div>
</div>
