<div class="justify-end flex mb-2">
  <button nz-button nzType="primary" (click)="openCreateMeetingModal()">+ Tạo lịch hẹn</button>
</div>

<nz-table
  [nzFrontPagination]="false"
  [nzData]="listMeeting.data"
  nzBordered="true"
  nzSize="small"
  [nzLoading]="isLoading"
  [nzPageIndex]="listMeeting.page"
  [nzPageSize]="listMeeting.size"
  [nzTotal]="listMeeting.total"
  (nzPageIndexChange)="onPageIndexChange($event)"
  class="custom-table"
>
  <thead>
    <tr>
      <th>Tiêu Đề</th>
      <th>Cột Mốc</th>
      <th nzWidth="200px">Thời Gian Bắt Đầu</th>
      <th nzWidth="120px">Trạng Thái</th>
      <th nzWidth="80px" nzAlign="right">Biên Bản</th>
      <th nzWidth="20px"></th>
    </tr>
  </thead>
  <tbody>
    @for (meeting of listMeeting.data; track $index) {

    <tr>
      <td>{{ meeting.title }}</td>
      <td>{{ meeting.milestoneName || 'Không có' }}</td>
      <td>{{ formatDate(meeting.appointmentTime) }}</td>
      <td>
        <nz-tag class="w-full text-center" [nzColor]="getStatusColor(meeting.status)">
          {{ MeetingLabel[meeting.status] }}
        </nz-tag>
      </td>
      <td nzAlign="center">
        @if (meeting.status === 3) {
        <button (click)="openMeetingNote(meeting)"><mat-icon class="text-blue-500 cursor-pointer"> description </mat-icon></button>
        } @else {
        <button [nz-tooltip]="'Khả dụng khi buổi họp kết thúc'" disabled>
          <mat-icon class="text-gray-300 cursor-not-allowed"> description </mat-icon>
        </button>
        }
      </td>
      <td class="flex gap-2">
        <button (click)="openMeetingDetail(meeting)"><mat-icon class="text-blue-500 cursor-pointer"> info </mat-icon></button>
        @if (meeting.status === 3 || meeting.status === 4) {
        <button><mat-icon class="text-gray-300 cursor-not-allowed"> block </mat-icon></button>
        } @else {
        <button (click)="openCancelMeetingModal(meeting)"><mat-icon class="text-red-500 cursor-pointer"> block </mat-icon></button>
        }
      </td>
    </tr>
    }
  </tbody>
</nz-table>
