@if (isValidRole()) {
<div class="justify-end flex mb-2">
  <button nz-button nzType="primary" (click)="openCreateMeetingModal()">+ Tạo lịch họp</button>
</div>
}

<div class="border-b border-gray-300 mb-4">
  <div class="flex">
    <a
      class="flex items-center p-2 xl:px-4 border-b-2"
      (click)="onMeetingStatusFilterChange()"
      [ngClass]="{
        ' border-green-500 font-medium text-green-600': meetingStatusFilterOptions === undefined,
        ' font-medium text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300': meetingStatusFilterOptions !== undefined
      }"
    >
      <mat-icon fontIcon="list"></mat-icon>
      <span class="hidden md:inline ml-1 text-sm">Tất cả</span>
    </a>
    <a
      class="flex items-center p-2 xl:px-4 border-b-2"
      (click)="onMeetingStatusFilterChange(MeetingStatus.PROPOSED)"
      [ngClass]="{
        ' border-green-500 font-medium text-green-600': meetingStatusFilterOptions === MeetingStatus.PROPOSED,
        ' font-medium text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300': meetingStatusFilterOptions !== MeetingStatus.PROPOSED
      }"
    >
      <mat-icon fontIcon="schedule"></mat-icon>
      <span class="hidden md:inline ml-1 text-sm">{{ MeetingLabel[MeetingStatus.PROPOSED] }}</span>
    </a>
    <a
      class="flex items-center p-2 xl:px-4 border-b-2"
      (click)="onMeetingStatusFilterChange(MeetingStatus.ONGOING)"
      [ngClass]="{
        ' border-green-500 font-medium text-green-600': meetingStatusFilterOptions === MeetingStatus.ONGOING,
        ' font-medium text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300': meetingStatusFilterOptions !== MeetingStatus.ONGOING
      }"
    >
      <mat-icon fontIcon="sync"></mat-icon>
      <span class="hidden md:inline ml-1 text-sm">{{ MeetingLabel[MeetingStatus.ONGOING] }}</span>
    </a>
    <a
      class="flex items-center p-2 xl:px-4 border-b-2"
      (click)="onMeetingStatusFilterChange(MeetingStatus.FINISHED)"
      [ngClass]="{
        ' border-green-500 font-medium text-green-600': meetingStatusFilterOptions === MeetingStatus.FINISHED,
        ' font-medium text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300': meetingStatusFilterOptions !== MeetingStatus.FINISHED
      }"
    >
      <mat-icon fontIcon="done"></mat-icon>
      <span class="hidden md:inline ml-1 text-sm">{{ MeetingLabel[MeetingStatus.FINISHED] }}</span>
    </a>
    <a
      class="flex items-center p-2 xl:px-4 border-b-2"
      (click)="onMeetingStatusFilterChange(MeetingStatus.CANCELLED)"
      [ngClass]="{
        ' border-green-500 font-medium text-green-600': meetingStatusFilterOptions === MeetingStatus.CANCELLED,
        ' font-medium text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300': meetingStatusFilterOptions !== MeetingStatus.CANCELLED
      }"
    >
      <mat-icon fontIcon="cancel"></mat-icon>
      <span class="hidden md:inline ml-1 text-sm">{{ MeetingLabel[MeetingStatus.CANCELLED] }}</span>
    </a>
  </div>
</div>

<!-- Desktop table view -->
<nz-table
  [nzFrontPagination]="false"
  [nzData]="listMeeting.data"
  nzBordered="true"
  nzSize="small"
  [nzLoading]="isLoading"
  [nzPageIndex]="listMeeting.page"
  [nzPageSize]="listMeeting.size"
  [nzTotal]="listMeeting.total"
  (nzPageIndexChange)="onPageIndexChange($event)"
  class="custom-table hidden lg:block"
>
  <thead>
    <tr>
      <th>Tiêu Đề</th>
      <th>Cột Mốc</th>
      <th nzWidth="200px">Thời Gian Bắt Đầu</th>
      <th nzWidth="200px">Thời Gian Kết Thúc</th>
      <th nzWidth="120px">Trạng Thái</th>
      <th nzWidth="20px"></th>
    </tr>
  </thead>
  <tbody>
    @for (meeting of listMeeting.data; track $index) {

    <tr>
      <td class="text-base">{{ meeting.title }}</td>
      <td class="text-base">{{ meeting.milestoneName || 'Không có' }}</td>
      <td class="text-base">{{ formatDate(meeting.appointmentTime) }}</td>
      <td class="text-base">{{ meeting.appointmentEndTime ? formatDate(meeting.appointmentEndTime) : 'Chưa có giờ kết thúc' }}</td>
      <td>
        <nz-tag class="w-full text-center text-base" [nzColor]="getStatusColor(meeting.status)">
          {{ MeetingLabel[meeting.status] }}
        </nz-tag>
      </td>
      <td class="flex gap-2">
        <button (click)="openMeetingDetail(meeting)"><mat-icon class="text-blue-500 cursor-pointer"> info </mat-icon></button>
        @if (meeting.status === 3 || meeting.status === 4) {
        <button><mat-icon class="text-gray-300 cursor-not-allowed"> block </mat-icon></button>
        } @else {
        <button (click)="openCancelMeetingModal(meeting)"><mat-icon class="text-red-500 cursor-pointer"> block </mat-icon></button>
        }
      </td>
    </tr>
    }
  </tbody>
</nz-table>

<!-- Mobile Card view -->
<div class="block lg:hidden space-y-4">
  @for (meeting of listMeeting.data; track $index) {
  <div class="bg-white rounded-lg shadow p-4">
    <div class="flex justify-between items-center mb-2">
      <div class="text-lg font-semibold">{{ meeting.title }}</div>
      <nz-tag class="text-sm" [nzColor]="getStatusColor(meeting.status)">
        {{ MeetingLabel[meeting.status] }}
      </nz-tag>
    </div>
    <div class="text-sm text-gray-600">
      <p><strong>Cột Mốc:</strong> {{ meeting.milestoneName || 'Không có' }}</p>
      <p><strong>Bắt đầu:</strong> {{ formatDate(meeting.appointmentTime) }}</p>
      <p><strong>Kết thúc:</strong> {{ meeting.appointmentEndTime ? formatDate(meeting.appointmentEndTime) : 'Chưa có giờ kết thúc' }}</p>
    </div>
    <div class="mt-2 flex gap-4">
      <button (click)="openMeetingDetail(meeting)" class="flex items-center text-blue-500"><mat-icon fontIcon="info"></mat-icon> Chi Tiết</button>
      @if (meeting.status === 3 || meeting.status === 4) {
      <button class="flex items-center text-gray-300 cursor-not-allowed"><mat-icon fontIcon="block"></mat-icon> Hủy</button>
      } @else {
      <button (click)="openCancelMeetingModal(meeting)" class="flex items-center text-red-500"><mat-icon fontIcon="block"></mat-icon> Hủy</button>
      }
    </div>
  </div>
  }

  <div *ngIf="isLoading" class="flex justify-center py-4">
    <nz-spin nzSimple></nz-spin>
  </div>
  <!-- không có buổi họp -->
  <div *ngIf="!isLoading && listMeeting.data.length === 0" class="text-center text-gray-500 py-4">Không có cuộc họp nào</div>

  <div *ngIf="isEndOfList && listMeeting.data.length > 0" class="text-center text-gray-500 py-4">Bạn đã xem hết các cuộc họp</div>
</div>
