<form [formGroup]="investmentCallForm" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical" class="px-4 py-2">
  <!-- Target Call Field -->
  <nz-form-item>
    <nz-form-label [nzRequired]="true">Số tiền muốn gọi</nz-form-label>
    <nz-form-control [nzErrorTip]="'Vui lòng nhập mục tiêu cuộc gọi'">
      <input nz-input formControlName="targetCall" type="number" placeholder="Nhập mục tiêu cuộc gọi" />
    </nz-form-control>
  </nz-form-item>

  <!-- Equity Share Call Field -->
  <nz-form-item>
    <nz-form-label [nzRequired]="true">Số cổ phần muốn bán</nz-form-label>
    <nz-form-control [nzErrorTip]="'Vui lòng nhập cổ phần cuộc gọi'">
      <input nz-input formControlName="equityShareCall" type="number" placeholder="Nhập cổ phần cuộc gọi" />
    </nz-form-control>
  </nz-form-item>

  <!-- Start/End Date Field -->
  <div class="flex">
    <nz-form-item>
      <nz-form-label [nzRequired]="true">Ngày Bắt Đầu</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="startDate" nzPlaceHolder="Chọn ngày bắt đầu" [nzDisabledDate]="disabledStartDate"> </nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzRequired]="true">Ngày Kết Thúc</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="endDate" nzPlaceHolder="Chọn ngày kết thúc" [nzDisabledDate]="disabledEndDate"> </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- Submit Button -->
  <nz-form-item>
    <nz-form-control>
      <div class="flex items-center justify-end">
        <button nz-button nzType="default" [disabled]="investmentCallForm.invalid">Tạo</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
