<form [formGroup]="investmentCallForm" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical" class="px-4 py-2">
  <!-- Target Call Field -->
  <nz-form-item>
    <nz-form-label [nzRequired]="true">Số vốn cần gọi</nz-form-label>
    <nz-form-control [nzErrorTip]="'Vui lòng nhập số vốn cần gọi'">
      <!-- <input nz-input formControlName="targetCall" type="number" placeholder="Nhập mục tiêu cuộc gọi" /> -->
      <nz-input-number
        class="w-60"
        formControlName="targetCall"
        [nzMin]="1000"
        [nzStep]="10000000"
        [nzPrecision]="3"
        [nzFormatter]="vndFormatter"
        [nzParser]="vndParser" />
    </nz-form-control>
  </nz-form-item>

  <!-- Equity Share Call Field -->
  <nz-form-item>
    <nz-form-label [nzRequired]="true">Cổ phần cần gọi</nz-form-label>
    <nz-form-control [nzErrorTip]="'Vui lòng nhập cổ phần cần gọi'">
      <!-- <input nz-input formControlName="equityShareCall" type="number" placeholder="Nhập cổ phần cuộc gọi" /> -->
      <nz-input-number
        formControlName="equityShareCall"
        [nzMin]="1"
        [nzMax]="100"
        [nzPrecision]="-2"
        [nzFormatter]="formatterPercent"
        [nzParser]="parserPercent" />
    </nz-form-control>
  </nz-form-item>

  <!-- Start/End Date Field -->
  <div class="flex">
    <nz-form-item>
      <nz-form-label [nzRequired]="true">Ngày bắt đầu</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="startDate" nzPlaceHolder="Chọn ngày bắt đầu" [nzDisabledDate]="disabledStartDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzRequired]="true">Ngày kết thúc</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="endDate" nzPlaceHolder="Chọn ngày kết thúc" [nzDisabledDate]="disabledEndDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- Submit Button -->
  <nz-form-item>
    <nz-form-control>
      <div class="flex items-center justify-end">
        <button nz-button nzType="default" [disabled]="investmentCallForm.invalid">Tạo</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
