<div class="flex flex-col h-[80vh]">
  @if (isFetchTaskDetailsLoading) {
  <div class="min-h-[74vh]"></div>
  <div class="fixed top-1/2 left-1/2 -translate-x-1/2">
    <nz-spin nzSimple></nz-spin>
  </div>
  } @else {
  <!-- Container for the entire modal content -->
  <div class="flex-1 overflow-y-auto">
    <form [formGroup]="taskForm" nz-form nzLayout="vertical" class="px-4">
      <!-- Title and Milestone Row -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Title</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập tên tác vụ'">
            <input nz-input formControlName="title" placeholder="Nhập tên tác vụ" (input)="handleInfoChanged()" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Milestone</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="milestone" nzPlaceHolder="Chọn cột mốc">
              @for (milestone of milestones; track $index) {
              <nz-option [nzValue]="milestone.id" [nzLabel]="milestone.title"></nz-option>

              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Description -->
      <nz-form-item>
        <nz-form-label>Description</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="description" [nzAutosize]="{ minRows: 3, maxRows: 6 }" placeholder="Nhập thông tin tác vụ" (input)="handleInfoChanged()"></textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- Status and Deadline Row -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <nz-form-item>
          <nz-form-label>Status</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="status" nzPlaceHolder="Chọn trạng thái" (ngModelChange)="handleStatusChanged($event)">
              @for (status of statuses; track $index) {
              <nz-option [nzValue]="status.value" [nzLabel]="status.label"></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Deadline</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              formControlName="deadline"
              [nzShowTime]="{ nzFormat: 'HH' }"
              nzFormat="yyyy-MM-dd HH:00:00"
              nzPlaceHolder="Chọn hạn chót"
              (nzOnOk)="handleInfoChanged()"
            >
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Parent Task and Assignee Row -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <nz-form-item>
          <nz-form-label>Parent Task</nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="parentTask"
              nzPlaceHolder="Chọn tác vụ mẹ"
              (ngModelChange)="handleSelectParentTask($event)"
              (nzOpenChange)="handleOpenParentTask()"
              (nzScrollToBottom)="loadMoreOtherTasks()"
            >
              <nz-option nzValue="" nzLabel="Không Chọn"></nz-option>
              @if (initialParentTask) {
              <nz-option [nzValue]="initialParentTask.id" [nzLabel]="initialParentTask.title"></nz-option>
              } @for (task of otherTasks; track $index) {
              <nz-option [nzValue]="task.id" [nzLabel]="task.title"></nz-option>
              } @if (isOtherTasksFetchLoading) {
              <nz-option nzDisabled nzCustomContent>
                <span nz-icon nzType="loading" class="loading-icon"></span>
                Loading Data...
              </nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Assignees</nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="assignees"
              [nzMode]="'multiple'"
              nzPlaceHolder="Chọn người thực hiện"
              (nzOpenChange)="handleOpenAssigneeSelect()"
              (ngModelChange)="handleSelectAssignChanged($event)"
            >
              @for (user of filteredUsers; track $index) {
              <nz-option [nzValue]="user.id" [nzLabel]="user.fullName"> </nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      @if (subTasks.length > 0) {
      <nz-form-item>
        <nz-form-label>Subtasks</nz-form-label>
        <nz-form-control>
          <nz-table #basicTable nzSize="small" nzShowPagination="false" [nzData]="subTasks">
            <thead>
              <tr>
                <th>Tên Tác Vụ</th>
                <th>Trạng Thái</th>
                <th>Hạn Chót</th>
                <th>Người Tạo</th>
              </tr>
            </thead>
            <tbody>
              @for (data of basicTable.data; track data.id) {
              <tr>
                <td>{{ data.title }}</td>
                <td>{{ taskStatusLabels[data.status] }}</td>
                <td>{{ data.deadline === null ? 'Không Có Hạn Chót' : (data.deadline | date : "d 'tháng' M, h:mm a") }}</td>
                <td>{{ data.createdBy }}</td>
              </tr>
              }
            </tbody>
          </nz-table>
        </nz-form-control>
      </nz-form-item>
      }

      <!-- Comment Section -->
      <nz-form-item>
        <nz-form-label>Comments</nz-form-label>
        <nz-form-control>
          <div class="mb-4">
            <div *ngFor="let comment of comments" class="mb-3 p-3 bg-gray-50 rounded">
              <div class="flex justify-between items-center mb-2">
                <span class="font-medium">{{ comment.author }}</span>
                <span class="text-gray-500 text-sm">{{ comment.date | date : 'short' }}</span>
              </div>
              <p class="text-gray-700">{{ comment.content }}</p>
            </div>
          </div>
          <div class="flex gap-2">
            <input nz-input placeholder="Để lại ý kiến" class="flex-grow" />
            <button nz-button nzType="primary">Comment</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  }
  <div class="flex items-center justify-between px-4 py-2 bg-white border-t">
    <button nz-button nzType="primary" (nzOnConfirm)="handleDeleteTask()" nz-popconfirm nzPopconfirmTitle="Bạn muốn xóa tác vụ này không?">Xóa Tác Vụ</button>
    <button nz-button nzType="primary" (click)="onSubmit()" [disabled]="taskForm.invalid || !isInfoChanged">Cập Nhật</button>
  </div>
</div>
