<div class="flex flex-col h-[85vh]">
  @if (isFetchTaskDetailsLoading) {
  <div class="min-h-[74vh]"></div>
  <div class="fixed top-1/2 left-1/2 -translate-x-1/2">
    <nz-spin nzSimple></nz-spin>
  </div>
  } @else {
  <!-- Container for the entire modal content -->
  <div class="flex-1 overflow-y-auto">
    <form [formGroup]="taskForm" nz-form nzLayout="vertical" class="px-4">
      <!-- Title and Milestone Row -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Tên tác vụ</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập tên tác vụ'">
            <input nz-input formControlName="title" placeholder="Nhập tên tác vụ" (input)="handleInfoChanged()" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Cột mốc</nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="milestone"
              nzPlaceHolder="Chọn cột mốc"
              (ngModelChange)="handleSelectMilestone($event)"
              (nzOpenChange)="handleOpenMilestoneSelect()"
              (nzScrollToBottom)="loadMoreMilestones()"
              [nzShowSearch]="true"
            >
              <nz-option *ngIf="!initialParentTaskId" nzValue="" nzLabel="Không chọn"></nz-option>
              @if (initialMilestone) {
              <nz-option [nzValue]="initialMilestone.id" [nzLabel]="initialMilestone.title"></nz-option>
              } @for (milestone of milestones; track $index) {
              <nz-option [nzValue]="milestone.id" [nzLabel]="milestone.title"></nz-option>
              } @if (isMilestonesFetchLoading) {
              <nz-option nzDisabled nzCustomContent>
                <span nz-icon nzType="loading" class="loading-icon"></span>
                Đang tải dữ liệu...
              </nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Description -->
      <nz-form-item>
        <nz-form-label>Mô tả</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="description" [nzAutosize]="{ minRows: 3, maxRows: 6 }" placeholder="Nhập thông tin tác vụ" (input)="handleInfoChanged()"></textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- Status and Deadline Row and Man Hour -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <nz-form-item>
          <nz-form-label>Trạng thái</nz-form-label>
          <nz-form-control>
            <nz-select class="w-full" formControlName="status" nzPlaceHolder="Chọn trạng thái" (ngModelChange)="handleStatusChanged($event)" [nzCustomTemplate]="selectedTemplate">
              @for (status of statuses; track $index) {
              <nz-option nzCustomContent [nzValue]="status.value" [nzLabel]="status.label">
                <nz-tag [nzColor]="status.color" [nzBordered]="false">
                  {{ status.label }}
                </nz-tag>
              </nz-option>
              }
            </nz-select>
            <ng-template #selectedTemplate let-selected>
              <nz-tag [nzColor]="getStatusColor(selected.nzValue)" [nzBordered]="false">
                {{ selected.nzLabel }}
              </nz-tag>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Số giờ làm</nz-form-label>
          <nz-form-control>
            <nz-input-number class="w-full" formControlName="manHour" [nzMin]="0" [nzPrecision]="0" [nzMax]="48" (ngModelChange)="handleInfoChanged()"></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Ngày bắt đầu</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              class="w-full"
              formControlName="startDate"
              [nzShowTime]="{ nzFormat: 'HH' }"
              nzFormat="yyyy-MM-dd HH:00:00"
              nzPlaceHolder="Chọn ngày bắt đầu"
              [nzDisabledDate]="disableStartDate"
              (nzOnOk)="handleInfoChanged()"
            >
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Ngày kết thúc</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              class="w-full"
              formControlName="endDate"
              [nzShowTime]="{ nzFormat: 'HH' }"
              nzFormat="yyyy-MM-dd HH:00:00"
              nzPlaceHolder="Chọn ngày kết thúc"
              [nzDisabledDate]="disableEndDate"
              (nzOnOk)="handleInfoChanged()"
            >
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Parent Task and Assignee Row -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <nz-form-item>
          <nz-form-label>Tác vụ mẹ</nz-form-label>
          <nz-form-control>
            <nz-select
              class="w-full"
              formControlName="parentTask"
              nzPlaceHolder="Chọn tác vụ mẹ"
              (ngModelChange)="handleSelectParentTask($event)"
              (nzOpenChange)="handleOpenParentTask()"
              (nzScrollToBottom)="loadMoreOtherTasks()"
              [nzShowSearch]="true"
            >
              <nz-option nzValue="" nzLabel="Không chọn"></nz-option>
              @if (initialParentTask) {
              <nz-option [nzValue]="initialParentTask.id" [nzLabel]="initialParentTask.title"></nz-option>
              } @for (task of otherTasks; track $index) {
              <nz-option [nzValue]="task.id" [nzLabel]="task.title"></nz-option>
              } @if (isOtherTasksFetchLoading) {
              <nz-option nzDisabled nzCustomContent>
                <span nz-icon nzType="loading" class="loading-icon"></span>
                Đang tải dữ liệu...
              </nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Người làm</nz-form-label>
          <nz-form-control>
            <nz-select
              class="w-full"
              formControlName="assignees"
              [nzMode]="'multiple'"
              nzPlaceHolder="Chọn người thực hiện"
              (nzOpenChange)="handleOpenAssigneeSelect()"
              (ngModelChange)="handleSelectAssignChanged($event)"
              [nzShowSearch]="true"
            >
              @for (user of filteredUsers; track $index) {
              <nz-option [nzValue]="user.id" [nzLabel]="user.fullName"> </nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      @if (subTasks.length > 0) {
      <nz-form-item>
        <nz-form-label>Tác vụ con</nz-form-label>
        <nz-form-control>
          <nz-table #basicTable nzSize="small" nzShowPagination="false" [nzData]="subTasks">
            <thead>
              <tr>
                <th>Tên tác vụ</th>
                <th>Trạng thái</th>
                <th>Ngày bắt đầu</th>
                <th>Hạn chót</th>
                <th>Người tạo</th>
              </tr>
            </thead>
            <tbody>
              @for (data of basicTable.data; track data.id) {
              <tr>
                <td>{{ data.title }}</td>
                <td>{{ taskStatusLabels[data.status] }}</td>
                <td>{{ data.startDate === null ? 'Không Có Ngày bắt đầu' : (data.startDate | date : "d 'tháng' M, h:mm a") }}</td>
                <td>{{ data.endDate === null ? 'Không Có Hạn Chót' : (data.endDate | date : "d 'tháng' M, h:mm a") }}</td>
                <td>{{ data.createdBy }}</td>
              </tr>
              }
            </tbody>
          </nz-table>
        </nz-form-control>
      </nz-form-item>
      }

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Tệp đính kèm</nz-form-label>
        @for (attachment of attachmentList; track attachment.id) {
        <div>
          <nz-tag [nzColor]="'blue'" class="flex mb-2 py-1 space-x-2 items-center">
            <a [href]="attachment.attachmentUrl" target="_blank">{{ attachment.fileName }}</a>
            <mat-icon fontIcon="delete" class="cursor-pointer" (click)="deleteAttachment(attachment.id)"></mat-icon>
          </nz-tag>
        </div>
        }
        <nz-form-control [nzSpan]="24">
          <nz-upload
            ngDefaultControl
            [(nzFileList)]="fileList"
            [nzBeforeUpload]="beforeUpload"
            [nzRemove]="removeUpload"
            [nzMultiple]="true"
            [nzShowUploadList]="true"
            class="mb-2 upload-container"
          >
            <div class="flex justify-between w-full">
              <button nz-button class="flex justify-center items-center">
                <mat-icon fontIcon="file_upload"></mat-icon>
                <span class="px-2">Tải lên tài liệu</span>
              </button>
              @if (fileList.length > 0) {
              <button nz-button nzType="primary" class="flex justify-center items-center" (click)="$event.stopPropagation(); uploadAttachment()">
                <span class="px-2">Lưu tài liệu</span>
              </button>
              }
            </div>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>

      <!-- Comment Section -->
      <nz-form-item>
        <nz-form-label>Ghi chú</nz-form-label>
        <nz-form-control>
          <div class="flex gap-2">
            <input nz-input placeholder="Để lại ý kiến" class="flex-grow" placeholder="Để lại góp ý" formControlName="taskComment" />
            <button nz-button nzType="primary" (click)="createComment()">Bình luận</button>
          </div>
          <div class="mt-4">
            @for (comment of commentList; track comment.id) {
            <div class="mb-3 p-3 bg-gray-50 rounded">
              <div class="flex flex-col items-start mb-2">
                <div class="flex justify-between items-center w-full">
                  <div class="flex items-center space-x-2">
                    <img [src]="comment.user.profilePicture" class="w-8 h-8 rounded-full" />
                    <span class="font-medium">{{ comment.user.fullName }}</span>
                  </div>
                  <span class="text-gray-500 text-sm block">{{ comment.createdTime | date : 'short' }}</span>
                </div>
              </div>
              <p class="text-gray-700">{{ comment.content }}</p>
            </div>
            }
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  }
  <div class="flex items-center justify-between px-4 py-2 bg-white border-t">
    <button nz-button nzType="primary" nzDanger="" (nzOnConfirm)="handleDeleteTask()" nz-popconfirm nzPopconfirmTitle="Bạn muốn xóa tác vụ này không?">Xóa tác vụ</button>
    <button nz-button nzType="primary" (click)="onSubmit()" [disabled]="taskForm.invalid || !isInfoChanged">Cập nhật</button>
  </div>
</div>
