<!--------------------------------->
<!-- Create Project Charter Form -->
<!--------------------------------->
<nz-skeleton [nzActive]="true" [nzLoading]="isLoading" [nzTitle]="{ width: '40%' }" [nzParagraph]="{ rows: 10, width: ['100%', '100%', '80%'] }">
  <div class="flex flex-col gap-5">
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'Tuyên Ngôn Dự Án'" nzActive="true" class="bg-purple-200">
        @if (!isCharterExist) {
        <p>
          Chưa có tuyên ngôn dự án

          <button nz-button nzType="link" (click)="toggleCreate()">Tạo Tuyên Ngôn Dự Án</button>
        </p>
        } @else {
        <div *ngIf="!isOverview" class="flex justify-end mb-6">
          <span nz-icon nzType="edit" nzTheme="outline" class="cursor-pointer" (click)="toggleEdit()"></span>
        </div>
        }
        <nz-collapse>
          @if(isCharterExist) {
          <nz-collapse-panel [nzHeader]="'Bối Cảnh Dự Án'" class="bg-purple-100">
            <div [innerHTML]="projectCharter?.businessCase"></div>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'Mục Tiêu'" class="bg-purple-100">
            <div [innerHTML]="projectCharter?.goal"></div>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'Mục Đích'" class="bg-purple-100">
            <div [innerHTML]="projectCharter?.objective"></div>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'Phạm Vi'" class="bg-purple-100">
            <div [innerHTML]="projectCharter?.scope"></div>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'Hạn Chế'" class="bg-purple-100">
            <div [innerHTML]="projectCharter?.constraints"></div>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'Giả Định'" class="bg-purple-100">
            <div [innerHTML]="projectCharter?.assumptions"></div>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'Kết Quả Đầu Ra'" class="bg-purple-100">
            <div [innerHTML]="projectCharter?.deliverables"></div>
          </nz-collapse-panel>
          }
        </nz-collapse>
      </nz-collapse-panel>
    </nz-collapse>
    <!-- Phase/MileStone Section -->

    @if (isCharterExist) {
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'Các Giai Đoạn'" nzActive="true" class="bg-purple-200">
        <nz-table class="custom-table" #nestedTable nzSize="small" [nzShowPagination]="false" [nzData]="projectCharter?.phases!" [nzBordered]="true">
          <thead>
            <tr>
              <th nzWidth="10px" [nzAlign]="'center'"></th>
              <th>Giai Đoạn</th>
              <th>Ngày Bắt Đầu</th>
              <th>Ngày Kết Thúc</th>
            </tr>
          </thead>
          <tbody>
            @for (data of nestedTable.data; track data) {
            <tr>
              @if (data.milestones.length > 0 ) {

              <td [(nzExpand)]="data.expand"></td>
              } @else {
              <td></td>
              }
              <td>{{ data.phaseName }}</td>
              <td>{{ data.startDate | date : 'dd/MM/yyyy' }}</td>
              <td>{{ data.endDate | date : 'dd/MM/yyyy' }}</td>
            </tr>
            <tr [nzExpand]="data.expand">
              <nz-table class="custom-inner-table" #innerTable [nzData]="data.milestones" nzSize="small" [nzShowPagination]="false">
                <thead>
                  <tr>
                    <th>Cột Mốc</th>
                    <th>Miêu Tả</th>
                    <th>Bắt Đầu</th>
                    <th>Kết Thúc</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of innerTable.data; track data) {
                  <tr>
                    <td>{{ data.title }}</td>
                    <td>{{ data.description }}</td>
                    <td>{{ data.startDate | date : 'dd/MM/yyyy' }}</td>
                    <td>{{ data.endDate | date : 'dd/MM/yyyy' }}</td>
                  </tr>
                  }
                </tbody>
              </nz-table>
            </tr>
            }
          </tbody>
        </nz-table>
      </nz-collapse-panel>
    </nz-collapse>
    }
  </div>
</nz-skeleton>
