<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical" class="px-4 py-2">
  <!-- Title Field -->
  <nz-form-item>
    <nz-form-label [nzRequired]="true" class="font-medium">Tên tác vụ</nz-form-label>
    <nz-form-control [nzErrorTip]="'Vui lòng nhập tên tác vụ'">
      <input nz-input formControlName="title" placeholder="Nhập tên tác vụ" />
    </nz-form-control>
  </nz-form-item>

  <!-- Description Field -->
  <nz-form-item>
    <nz-form-label class="font-medium">Nội dung</nz-form-label>
    <nz-form-control>
      <editor [apiKey]="editorKey" [init]="init" formControlName="description"></editor>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label class="font-medium">Ưu tiên</nz-form-label>
    <nz-form-control>
      <div class="flex gap-2">
        <nz-input-number class="w-1/2" formControlName="priority" [nzMin]="0" [nzPrecision]="0" [nzMax]="10"></nz-input-number>
        @if (taskForm.get('priority')?.value === null) {
        <nz-tag class="w-1/2" nzColor="default" class="text-center"> Thấp </nz-tag>
        } @else if (taskForm.get('priority')?.value <= 3) {
        <nz-tag class="w-1/2" nzColor="default" class="text-center"> Thấp </nz-tag>
        } @else if (taskForm.get('priority')?.value <= 6) {
        <nz-tag class="w-1/2" nzColor="yellow" class="text-center"> Vừa </nz-tag>
        } @else if (taskForm.get('priority')?.value <= 10) {
        <nz-tag class="w-1/2" nzColor="orange" class="text-center"> Cao </nz-tag>
        }
      </div>
    </nz-form-control>
  </nz-form-item>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <nz-form-item>
      <nz-form-label class="font-medium">Ngày bắt đầu</nz-form-label>
      <nz-form-control>
        <nz-date-picker
          formControlName="startDate"
          [nzShowTime]="{ nzFormat: 'HH' }"
          nzFormat="yyyy-MM-dd HH:00"
          nzPlaceHolder="Chọn ngày bắt đầu"
          [nzDisabledDate]="disableStartDate"
          class="w-full"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="font-medium">Ngày kết thúc</nz-form-label>
      <nz-form-control>
        <nz-date-picker
          formControlName="endDate"
          [nzShowTime]="{ nzFormat: 'HH' }"
          nzFormat="yyyy-MM-dd HH:00"
          nzPlaceHolder="Chọn ngày kết thúc"
          [nzDisabledDate]="disableEndDate"
          class="w-full"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- Deadline Field (Date and Time Picker) and Choose Parent Task-->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <nz-form-item>
      <nz-form-label class="font-medium">Tác vụ mẹ</nz-form-label>
      <nz-form-control>
        <nz-select
          formControlName="parentTask"
          nzPlaceHolder="Chọn tác vụ mẹ"
          (ngModelChange)="handleSelectParentTask($event)"
          (nzOpenChange)="handleOpenParentTask()"
          (nzScrollToBottom)="loadMoreOtherTasks()"
          [nzShowSearch]="true"
          class="w-full"
        >
          <nz-option nzValue="" nzLabel="Không Chọn"></nz-option>
          @for (task of otherTasks; track $index) {
          <nz-option [nzValue]="task.id" [nzLabel]="task.title"></nz-option>
          } @if (isOtherTasksFetchLoading) {
          <nz-option nzDisabled nzCustomContent>
            <span nz-icon nzType="loading" class="loading-icon"></span>
            Đang tải dữ liệu...
          </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="font-medium">Số giờ làm</nz-form-label>
      <nz-form-control>
        <nz-input-number formControlName="manHour" [nzMin]="0" [nzPrecision]="0" [nzMax]="48" class="w-full"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- Choose milestone and assignees -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <nz-form-item>
      <nz-form-label class="font-medium">Cột mốc</nz-form-label>
      <nz-form-control>
        <nz-select
          formControlName="milestone"
          nzPlaceHolder="Chọn cột mốc"
          (ngModelChange)="handleSelectMilestone($event)"
          (nzOpenChange)="handleOpenMilestoneSelect()"
          (nzScrollToBottom)="loadMoreMilestones()"
          [nzShowSearch]="true"
          [nzDisabled]="!!nzModalData.milestoneId"
        >
          <nz-option nzValue="" nzLabel="Không Chọn"></nz-option>
          @if (!!nzModalData.milestoneId) {
          <nz-option [nzValue]="nzModalData.milestoneId" [nzLabel]="nzModalData.milestoneName"></nz-option>
          } @for (milestone of milestones; track $index) {
          <nz-option [nzValue]="milestone.id" [nzLabel]="milestone.title"></nz-option>
          } @if (isMilestonesFetchLoading) {
          <nz-option nzDisabled nzCustomContent>
            <span nz-icon nzType="loading" class="loading-icon"></span>
            Đang tải dữ liệu...
          </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="font-medium">Người làm</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="assignees" [nzMode]="'multiple'" nzPlaceHolder="Chọn người thực hiện" [nzShowSearch]="true">
          @for (user of users; track $index) {
          <nz-option [nzValue]="user.id" [nzLabel]="user.fullName"> </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- Submit Button -->
  <nz-form-item>
    <nz-form-control>
      <div class="flex items-center justify-end">
        <button nz-button nzType="default" [disabled]="taskForm.invalid">Tạo</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
