<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical" class="px-4 py-2">
  <!-- Title Field -->
  <nz-form-item>
    <nz-form-label [nzRequired]="true">Tên Tác Vụ</nz-form-label>
    <nz-form-control [nzErrorTip]="'Vui lòng nhập tên tác vụ'">
      <input nz-input formControlName="title" placeholder="Nhập tên tác vụ" />
    </nz-form-control>
  </nz-form-item>

  <!-- Description Field -->
  <nz-form-item>
    <nz-form-label>Nội Dung</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="description" placeholder="Nhập thông tin tác vụ"></textarea>
    </nz-form-control>
  </nz-form-item>

  <!-- Deadline Field (Date and Time Picker) and Choose Parent Task-->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <nz-form-item>
      <nz-form-label>Tác Vụ Mẹ</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="parentTask" nzPlaceHolder="Chọn tác vụ mẹ" (nzOpenChange)="handleOpenParentTask()" (nzScrollToBottom)="loadMoreOtherTasks()">
          <nz-option nzValue="" nzLabel="Không Chọn"></nz-option>
          @for (task of otherTasks; track $index) {
          <nz-option [nzValue]="task.id" [nzLabel]="task.title"></nz-option>
          } @if (isOtherTasksFetchLoading) {
          <nz-option nzDisabled nzCustomContent>
            <span nz-icon nzType="loading" class="loading-icon"></span>
            Loading Data...
          </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <nz-form-item>
      <nz-form-label>Ngày Bắt Đầu</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="startDate" [nzShowTime]="{ nzFormat: 'HH' }" nzFormat="yyyy-MM-dd HH:00:00" nzPlaceHolder="Chọn ngày bắt đầu"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label>Ngày kết thúc</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="endDate" [nzShowTime]="{ nzFormat: 'HH' }" nzFormat="yyyy-MM-dd HH:00:00" nzPlaceHolder="Chọn hạn chót"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <nz-form-item>
    <nz-form-label>Công Số</nz-form-label>
    <nz-form-control>
      <nz-input-number formControlName="manHour" [nzMin]="0" [nzPrecision]="0" [nzMax]="48" [nzStep]="1"></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <!-- Choose milestone and assignees -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <nz-form-item>
      <nz-form-label>Cột Mốc</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="milestone" nzPlaceHolder="Chọn cột mốc" (nzOpenChange)="handleOpenMilestoneSelect()" (nzScrollToBottom)="loadMoreMilestones()">
          <nz-option nzValue="" nzLabel="Không Chọn"></nz-option>
          @for (milestone of milestones; track $index) {
          <nz-option [nzValue]="milestone.id" [nzLabel]="milestone.title"></nz-option>
          } @if (isMilestonesFetchLoading) {
          <nz-option nzDisabled nzCustomContent>
            <span nz-icon nzType="loading" class="loading-icon"></span>
            Loading Data...
          </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Người Làm</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="assignees" [nzMode]="'multiple'" nzPlaceHolder="Chọn người thực hiện">
          @for (user of users; track $index) {
          <nz-option [nzValue]="user.id" [nzLabel]="user.fullName"> </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- Submit Button -->
  <nz-form-item>
    <nz-form-control>
      <div class="flex items-center justify-end">
        <button nz-button nzType="default" [disabled]="taskForm.invalid">Tạo</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
