<div class="mt-16 flex flex-wrap items-end justify-center">
  <div class="mb-16 flex w-4/5">
    <div class="w-2/5">
      <div class="flex w-fit flex-wrap items-start justify-center">
        <img class="app-icon" src="../../../assets/img/android-chrome-192x192.png" alt="app-icon" />
        <div class="w-full"></div>
        <div class="mt-3 w-fit font-['Inter'] text-lg font-bold">Grow & Connect Startups</div>
      </div>
    </div>
    <div class="w-2/5">
      <a class="mb-3 block w-full cursor-pointer font-medium">Về chúng tôi</a>
      <a class="mb-3 block w-full cursor-pointer font-medium">Sản phẩm</a>
      <a class="mb-3 block w-full cursor-pointer font-medium">Quy tắc cộng đồng</a>
      <a class="mb-3 block w-full cursor-pointer font-medium">Điều khoản & Quyền riêng tư</a>
    </div>
    <div class="w-1/5">
      <a
        class="mb-3 block w-full cursor-pointer font-medium hover:text-purple-400"
        href="https://www.facebook.com/profile.php?id=61559700490681"
        target="_blank"
        >Facebook Page</a
      >
      <a class="mb-3 block w-full cursor-pointer font-medium hover:text-purple-400">0856 990 951</a>
      <a class="mb-3 block w-full cursor-pointer font-medium hover:text-purple-400"
        >startedin123&#64;gmail.com</a
      >
    </div>
  </div>
  <img class="footer-waves w-full" src="../../../assets/img/footer-waves.png" />
</div>
