<div>
  <div class="modal-body">
    <!-- Prerequisite Check -->
    <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzParagraph]="{ rows: 4 }">
      <ng-container *ngIf="!isProjectCharterExist; else requestForm">
        <div class="flex items-center text-center justify-center text-red-500">
          <i nz-icon nzType="warning" nzTheme="outline" class="mr-2 text-lg mb-3"></i>
          <p class="text-base">Không tìm thấy tuyên ngôn dự án. Vui lòng tạo tuyên ngôn dự án trước khi gửi yêu cầu phê duyệt.</p>
        </div>
      </ng-container>
    </nz-skeleton>

    <!-- Request Form -->
    <ng-template #requestForm>

      <form [formGroup]="approvalRequestForm" style="width: fit-content;">
        <!-- Reason Input -->
        <div class="mb-4">
          <label class="block text-gray-700 font-medium mb-2"><span class="text-red-500">*</span> Lý do yêu cầu phê duyệt:</label>
          <textarea formControlName="requestReason" rows="4" class="w-full" placeholder="Nhập lý do yêu cầu phê duyệt" nz-input></textarea>
          <div *ngIf="approvalRequestForm.get('requestReason')?.invalid && approvalRequestForm.get('requestReason')?.touched" class="text-red-500 text-sm">Lý do là bắt buộc.</div>
        </div>

        <div class="mb-4 flex space-x-4">
          <!-- Value Per Percentage Input -->
          <div>
            <nz-form-item>
              <nz-form-label [nzRequired]="true" class="font-medium">Số tiền/% cổ phần</nz-form-label>
              <nz-form-control [nzErrorTip]="'Vui lòng nhập số vốn cần gọi'">
                <nz-input-number class="w-40" formControlName="valuePerPercentage" [nzMin]="1000" [nzStep]="1000" [nzFormatter]="vndFormatter" [nzParser]="vndParser" />
              </nz-form-control>
            </nz-form-item>
          </div>
        
          <!-- Equity Share Call Input -->
          <div>
            <nz-form-item>
              <nz-form-label class="text-right" [nzRequired]="true" class="font-medium">Cổ phần(Còn lại: {{ remainingEquityShare / 100 | percent }})</nz-form-label>
              <nz-form-control [nzErrorTip]="'Vui lòng nhập cổ phần cần gọi'">
                <nz-input-number
                  class = "w-15"
                  formControlName="equityShareCall"
                  [nzMin]="1"
                  [nzMax]="remainingEquityShare"
                  [nzPrecision]="2"
                  [nzFormatter]="formatterPercent"
                  [nzParser]="parserPercent"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div class="mb-4 flex space-x-10">
          <nz-form-item class="w-1/2">
            <nz-form-label [nzRequired]="false" class="font-medium">Ngày kết thúc</nz-form-label>
              <nz-date-picker
                formControlName="endDate"
                [nzDisabledDate]="disabledEndDate"
                [nzFormat]="'dd/MM/yyyy'"
                class="w-40"
                placeholder="Chọn ngày kết thúc"
              ></nz-date-picker>
          </nz-form-item>

          <div class=" w-1/2 text-right">
            <div class="text-gray-600 text-sm">Tổng số vốn cần gọi:</div>
            <div class="text-xl font-bold text-red-500">
              {{ getTotalAmount() | vndCurrency }}
            </div>
          </div>
        </div>

        <!-- File Upload -->
        <div class="mb-4">
          <label for="files" class="block text-gray-700 font-medium mb-2"><span class="text-red-500">*</span> Tải lên tệp đính kèm:</label>
          <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzShowUploadList]="true" nzListType="text">
            <button nz-button>
              <i nz-icon nzType="upload"></i>
              Chọn tệp
            </button>
          </nz-upload>
          <div class="text-gray-500 text-sm mt-1">Bạn có thể tải lên nhiều tệp. Chỉ hỗ trợ các tệp định dạng PDF, DOC, và JPG.</div>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-end">
          <button
            nz-button
            nzType="primary"
            (click)="submitRequest()"
            [disabled]="approvalRequestForm.invalid || loading || fileList.length === 0"
            [nzLoading]="uploading"
            class="rounded"
          >
            Gửi yêu cầu
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
