<!-- disbursement-form.component.html -->
<form [formGroup]="disbursementForm" class="md:p-6">
  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="6" [nzLabelAlign]="'left'">Tiêu đề</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Bạn chưa nhập tiêu đề!">
      <input nz-input formControlName="title" placeholder="Nhập tiêu đề lần giải ngân" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="6" [nzLabelAlign]="'left'">Thời gian</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Bạn chưa nhập thời gian!">
      <div class="flex gap-2">
        <nz-date-picker
          formControlName="startDate"
          nzPlaceHolder="Start Date"
          [nzDisabledDate]="disableStartDate"
          nzFormat="dd/MM/yyyy"
          class="w-full">
        </nz-date-picker>
        <nz-date-picker
          formControlName="endDate"
          nzPlaceHolder="End Date"
          [nzDisabledDate]="disableEndDate"
          nzFormat="dd/MM/yyyy"
          class="w-full">
        </nz-date-picker>
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="6" [nzLabelAlign]="'left'">Số tiền</nz-form-label>
    <nz-form-control [nzSpan]="18" [nzErrorTip]="amountErrorTpl">
      <nz-input-number
        formControlName="amount"
        [nzMin]="1000"
        [nzMax]="data.totalContractAmount - data.totalDisbursedAmount + (data.currentAmount || 0)"
        [nzStep]="10000000"
        [nzPrecision]="-3"
        [nzFormatter]="vndFormatter"
        [nzParser]="vndParser"
        class="w-full">
      </nz-input-number>
      <div class="mt-2 text-gray-500">
        Số tiền còn thiếu: {{ remainingAmount | vndCurrency }}
      </div>
    </nz-form-control>
  </nz-form-item>

  <ng-template #amountErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">Bạn chưa nhập số tiền!</ng-container>
    <ng-container *ngIf="control.hasError('min')">Số tiền phải lớn hơn 1.000đ</ng-container>
    <ng-container *ngIf="control.hasError('max')">Số tiền vượt quá số tiền còn lại của hợp đồng</ng-container>
  </ng-template>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="6" [nzLabelAlign]="'left'">Điều kiện</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Bạn chưa nhập điều kiện!">
      <textarea
        nz-input
        formControlName="condition"
        rows="4"
        placeholder="Nhập điều kiện giải ngân">
      </textarea>
    </nz-form-control>
  </nz-form-item>
</form>
