@if (isDesktopView) {
<div class="flex items-center justify-between border-b-[1px] min-h-[57px] px-8 bg-white sticky top-0">
  <div>
    <span class="text-xl">Màn Hình {{ viewName }}</span>
  </div>
  <div class="flex items-center justify-between border rounded-lg space-x-4 px-4 w-1/2">
    <input #searchInput type="text" class="border-0 focus:border-0 focus:outline-none focus:ring-0 w-full" />
    <mat-icon (click)="onSearchClick()" fontIcon="search_icon" class="cursor-pointer"></mat-icon>
  </div>
  <div>
    <button [matMenuTriggerFor]="filterMenu" nz-button nzType="default" class="flex items-center space-x-2 cursor-pointer">
      <mat-icon fontIcon="filter_alt_icon"></mat-icon>
      Filter
    </button>
    <mat-menu #filterMenu="matMenu">
      <ng-content></ng-content>
    </mat-menu>
  </div>
</div>
} @else {
<div class="flex items-center w-full justify-between min-h-[7vh] fixed top-0 border-2 bg-white">
  <mat-icon (click)="navigateToHome()" fontIcon="chevron_left" class="ml-2"></mat-icon>
  @if (!isSearching) {
  <span>{{ viewName }}</span>
  } @else {
  <div>
    <input #searchInput type="text" />
  </div>
  }
  <div class="flex items-center space-x-3 mr-2">
    @if (isSearching) {
    <mat-icon (click)="onSearchClick()" fontIcon="search_icon"></mat-icon>
    } @else {
    <mat-icon (click)="openSearchBarMobile()" fontIcon="search_icon"></mat-icon>
    }
    <mat-icon [matMenuTriggerFor]="filterMenu" fontIcon="more_horiz_icon"></mat-icon>
    <mat-menu #filterMenu="matMenu">
      <ng-content></ng-content>
    </mat-menu>
    <app-profile-dropdown></app-profile-dropdown>
  </div>
</div>
}
