<div class="w-full">
  <div *ngIf="isDesktopView" class="flex items-center justify-between px-6 max-w-7xl mx-auto w-full my-4">
    <div class="text-xl font-bold mr-10">
      {{ viewName }}
    </div>
    <div class="flex-grow flex space-x-2">
      <div class="flex-grow flex items-center justify-between border rounded-sm space-x-4 px-4 bg-white bg-opacity-50">
        <input
          #searchInput
          type="text"
          [ngModel]="searchValue"
          (ngModelChange)="onSearchClick()"
          placeholder="Tìm kiếm..."
          class="border-0 focus:border-0 focus:outline-none focus:ring-0 w-full bg-transparent" />
        <mat-icon (click)="onSearchClick()" fontIcon="search" class="cursor-pointer"></mat-icon>
      </div>
      <button
        [matMenuTriggerFor]="filterMenu"
        [matMenuTriggerRestoreFocus]="false"
        nz-button
        nzSize="large"
        class="flex items-center"
        (click)="onMenuOpened()"
      >
        <mat-icon fontIcon="filter_alt"></mat-icon>
        <span class="mx-2">Lọc</span>
      </button>
      <mat-menu #filterMenu="matMenu">
        <div (click)="$event.stopPropagation()">
          <ng-content select="[desktop]"></ng-content>
        </div>
      </mat-menu>
    </div>
  </div>
  <div *ngIf="!isDesktopView" class="flex items-center w-full justify-between my-2">
    @if (!isSearching) {
      <span class="ml-6 my-2 text-lg font-bold">{{ viewName }}</span>
    } @else {
      <mat-icon (click)="closeSearchBarMobile()" fontIcon="close" class="ml-4"></mat-icon>
      <div class="mt-0.5">
        <input
          class="rounded-sm"
          #searchInput
          type="text"
          [ngModel]="searchValue"
          (ngModelChange)="onSearchClick()"
          placeholder="Tìm kiếm..." />
      </div>
    }
    <div class="flex items-center space-x-3 mr-6">
      @if (isSearching) {
        <mat-icon (click)="onSearchClick()" fontIcon="search"></mat-icon>
      } @else {
        <mat-icon (click)="openSearchBarMobile()" fontIcon="search"></mat-icon>
      }
      <mat-icon
        [matMenuTriggerFor]="mobileMenu"
        [matMenuTriggerRestoreFocus]="false"
        fontIcon="filter_alt"
        (click)="onMenuOpened()"
      ></mat-icon>
      <mat-menu #mobileMenu="matMenu">
        <div (click)="$event.stopPropagation()">
          <ng-content select="[mobile]"></ng-content>
        </div>
      </mat-menu>
    </div>
  </div>
  <hr class="mx-6" />
</div>
