<div class="overflow-hidden bg-white rounded-lg p-6">
  <!-- Project Information Section -->
  <div class="space-y-6">
    <div>
      <div class="text-3xl font-semibold text-purple-600 flex justify-center">Thông tin đăng ký</div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-4 pt-10">
        <div>
          <p class="text-lg font-semibold text-gray-600">
            <mat-icon fontIcon="business" class="text-gray-600 mr-2"></mat-icon>
            Tên dự án:
          </p>
          <a (click)="navigateToProjectDetail(approvalData.projectId)" class="text-xl text-gray-800 cursor-pointer hover:underline">
            {{ approvalData.projectName || 'Không có dữ liệu' }}
          </a>
          <!-- <p class="text-xl text-gray-800">{{ approvalData.projectName || 'Không có dữ liệu' }}</p> -->
        </div>
        <div>
          <p class="text-lg font-semibold text-gray-600">
            <mat-icon fontIcon="person" class="text-gray-600 mr-2"></mat-icon>
            Người gửi:
          </p>
          <p class="text-xl text-gray-800">{{ approvalData.leaderName || 'Không có dữ liệu' }}</p>
        </div>
        <div>
          <p class="text-lg font-semibold text-gray-600">
            <mat-icon fontIcon="date_range" class="text-gray-600 mr-2"></mat-icon>
            Ngày gửi:
          </p>
          <p class="text-xl text-gray-800">{{ formatDate(approvalData.sentDate) }}</p>
        </div>
        <div>
          <p class="text-lg font-semibold text-gray-600">
            <mat-icon fontIcon="assignment_turned_in" class="text-gray-600 mr-2"></mat-icon>
            Ngày duyệt:
          </p>
          <div *ngIf="approvalData.status !== ProjectApprovalStatus.PENDING">
            <p class="text-xl text-gray-800">{{ formatDate(approvalData.approvalDate) }}</p>
          </div>
          <div *ngIf="approvalData.status === ProjectApprovalStatus.PENDING">
            <p class="text-xl text-gray-800">Chưa phê duyệt</p>
          </div>
        </div>
        <div>
          <p class="text-lg font-semibold text-gray-600">Trạng thái:</p>
          <nz-tag [nzColor]="getStatusColor(approvalData.status)" class="text-lg font-semibold">
            {{ ProjectApprovalStatusLabel[approvalData.status] }}
          </nz-tag>
        </div>
        <div>
          <div>
            <p class="text-lg font-semibold text-gray-600">Số % cổ phần cần gọi:</p>
            <p class="text-xl text-gray-800 mt-2">{{ approvalData.equityShareCall / 100 | percent }}</p>
          </div>
          <div>
            <p class="text-lg font-semibold text-gray-600">Số vốn cần gọi:</p>
            <p class="text-xl text-gray-800 mt-2">{{ approvalData.targetCall | vndCurrency }}</p>
          </div>
        </div>
      </div>

      <div>
        <p class="text-lg font-semibold text-gray-600 pt-5">Lý do:</p>
        <p class="text-xl text-gray-800 mt-2">{{ approvalData.reason || 'Không có lý do' }}</p>
      </div>
    </div>

    <!-- Rejected Reason Section -->
    <div *ngIf="approvalData.rejectReason || approvalData.status === ProjectApprovalStatus.REJECTED">
      <p class="text-lg font-semibold text-red-600">Lý do từ chối từ quản trị viên:</p>
      <p class="text-gray-800 mt-2">{{ approvalData.rejectReason || 'Không có lý do' }}</p>
    </div>

    <!-- Documents Section -->
    <div>
      <div class="text-xl font-semibold text-gray-900">Tài liệu đính kèm</div>
      <ul class="mt-4 space-y-4">
        <li *ngFor="let doc of approvalData.documents" class="flex items-center justify-between border rounded-lg p-4 hover:bg-gray-50 transition duration-200">
          <div>
            <p class="font-medium text-gray-800">{{ doc.documentName }}</p>
          </div>
          <a [href]="doc.attachmentLink" target="_blank" class="text-blue-500 hover:underline text-sm">Tải xuống</a>
        </li>
      </ul>
    </div>
  </div>

  @if( approvalData.status === ProjectApprovalStatus.PENDING){
  <div class="mt-6 flex justify-end space-x-4">
    <button
      nz-button
      nzDanger
      nzType="primary"
      nz-popover
      nzPopoverTitle="Lý do từ chối"
      [(nzPopoverVisible)]="isModalVisible"
      nzPopoverTrigger="click"
      [nzPopoverContent]="cancelTemplate"
    >
      Từ chối
    </button>
    <button nz-button nzType="primary" [nzLoading]="isAccepting" (click)="acceptProjectApproval()" [disabled]="isAccepting">Đồng ý</button>
  </div>
  }
  <!-- Popover Content Template -->
  <ng-template #cancelTemplate>
    <div class="p-6 w-96">
      <form #cancelForm="ngForm">
        <div class="mb-6">
          <label class="block mb-3 text-base font-medium">Lý do từ chối:</label>
          <textarea 
            nz-input
            [(ngModel)]="cancelReason.cancelReason"
            name="cancelReason"
            required
            #reasonInput="ngModel"
            rows="6"
            placeholder="Nhập lý do từ chối..."
            class="w-full text-base"
          ></textarea>
          <div 
            *ngIf="reasonInput.invalid && (reasonInput.dirty || reasonInput.touched)"
            class="text-red-500 text-sm mt-2"
          >
            <div *ngIf="reasonInput.errors?.['required']">
              Vui lòng nhập lý do hủy yêu cầu
            </div>
          </div>
        </div>
        <div class="flex justify-end gap-3">
          <button 
            nz-button 
            nzType="default" 
            class="min-w-[80px]"
            (click)="closePopover()"
          >
            Hủy
          </button>
          <button 
            nz-button
            nzType="primary"
            class="min-w-[80px]"
            (click)="onCancel()"
            [disabled]="cancelForm.invalid"
          >
            Xác nhận
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
