<app-view-title-bar viewName="Dashboard"></app-view-title-bar>
<div class="max-w-7xl mx-auto p-4">
  <div *ngIf="dashboard" class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- Budget Section -->
    <div class="bg-white rounded-lg shadow p-6">
      <div class="text-xl md:text-2xl font-semibold mb-16">Tổng ngân sách hiện tại</div>
      <div class="text-center text-3xl md:text-5xl font-bold mb-20">{{ dashboard.currentBudget | vndCurrency }}</div>
      <div class="space-y-4">
        <div class="text-xl md:text-2xl font-semibold">Dòng tiền trong tháng này</div>
        <div class="flex justify-between items-center text-green-600">
          <span>Tiền vào:</span>
          <span class="font-semibold">+{{ dashboard.inAmount | vndCurrency }}</span>
        </div>
        <div class="flex justify-between items-center text-red-600">
          <span>Tiền ra:</span>
          <span class="font-semibold">-{{ dashboard.outAmount | vndCurrency }}</span>
        </div>
      </div>
    </div>

    <!-- Disbursement Section -->
    <div class="bg-white rounded-lg shadow p-6">
      <div class="text-xl md:text-2xl font-semibold mb-4">Giải ngân</div>
      <canvas id="disbursementChart"></canvas>
      <div class="mt-4 space-y-2">
        <div class="flex flex-wrap justify-between items-center">
          <span class="text-gray-600 block w-full md:inline">Tổng dự án:</span>
          <span class="font-semibold">
            {{ dashboard.disbursedAmount | vndCurrency }} / {{ (dashboard.disbursedAmount + dashboard.remainingDisbursement) | vndCurrency }}
          </span>
        </div>
        <div *ngIf="dashboard.selfDisbursedAmount" class="flex flex-wrap justify-between items-center">
          <span class="text-gray-600 block w-full md:inline">Cá nhân:</span>
          <span class="font-semibold">
            {{ dashboard.selfDisbursedAmount | vndCurrency }} / {{ (dashboard.selfDisbursedAmount + dashboard.selfRemainingDisbursement) | vndCurrency }}
          </span>
        </div>
      </div>
    </div>

    <!-- Share Equity Section -->
    <div class="bg-white rounded-lg shadow p-6">
      <div class="text-xl md:text-2xl font-semibold mb-4">Cổ phần của tôi (%)</div>
      <div class="aspect-square max-w-xs mx-auto">
        <canvas id="shareEquityChart"></canvas>
      </div>
    </div>

    <!-- Milestones Section -->
    <div class="bg-white rounded-lg shadow p-6">
      <div class="text-xl md:text-2xl font-semibold mb-4">Tiến độ cột mốc</div>

        <div *ngFor="let milestone of dashboard.milestoneProgress" class="flex items-center justify-between hover:bg-slate-100 px-4 py-2 rounded-lg">
          <span class="flex-1 md:text-xl">{{ milestone.title }}</span>
          <div class="w-16 h-16 relative">
            <canvas [id]="'milestone-' + milestone.id"></canvas>
            <div class="absolute inset-0 flex items-center justify-center">
              <span class="text-sm font-semibold">{{ milestone.progress ?? 0 }}%</span>
            </div>
          </div>
        </div>
    </div>

    <div class="bg-white rounded-lg shadow p-6 lg:col-span-2 pt-4">
      <div class="text-xl md:text-2xl font-semibold mb-4">Tổng quan công việc</div>
      <div class="flex justify-between items-center pb-5">
        <span class="text-gray-600 md:text-lg">Tổng số công việc: {{ dashboard.totalTask }}</span>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        
        <div>
          <div class="font-semibold mb-4 text-green-600">Công việc đã hoàn thành</div>
          <nz-table #completedTaskTable nzSize="small" [nzFrontPagination]="false" [nzData]="dashboard.completedTasks" [nzLoading]="isFetchAllContractLoading" [nzBordered]="true" [nzScroll]="{ y: '250px' }">
            <thead>
              <tr>
                <th></th>
                <th>Tên công việc</th>
                <th>Ngày bắt đầu dự kiến</th>
                <th>Ngày bắt đầu thực tế</th>
                <th>Ngày hoàn thành</th>
                <th>Ngày kết thúc</th>
                <th>Số giờ làm</th>
              </tr>
            </thead>
            <tbody>
              @for (data of completedTaskTable.data; track data.id){
                <tr>
                  <td [(nzExpand)]="data.expand"></td>  
                  <td class="border-b text-sm fit-content">{{ data.title }}</td>
                  <td class="border-b text-sm">{{ data.startDate ? (data.startDate | date: 'dd-MM-yyyy HH:mm:ss') : 'Không xác định' }}</td>
                  <td class="border-b text-sm">{{ data.actualStartAt ? (data.actualStartAt | date: 'dd-MM-yyyy HH:mm:ss') : 'Không xác định' }}</td>
                  <td class="border-b text-sm">{{ data.actualFinishAt ? (data.actualFinishAt | date: 'dd-MM-yyyy HH:mm:ss') : 'Không xác định' }}</td>
                  <td class="border-b text-sm">{{ data.endDate ? (data.endDate | date: 'dd-MM-yyyy HH:mm:ss') : 'Không xác định' }}</td>
                  <td class="border-b text-sm">{{ data.actualManHour ? data.actualManHour : 'Không xác định' }}</td>
                </tr>
                <tr [nzExpand]="data.expand" >
                  <nz-table #innerTable [nzData]="data.assignees" nzSize="small" [nzShowPagination]="false">
                    <thead>
                      <tr>
                        <td [colSpan]="5">
                          <div class="font-bold flex justify-around text-lg my-2 space-x-4">
                            Danh sách thành viên đang tham gia
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th>Email</th>
                        <th>Người thực hiện</th>
                        <th>Số giờ đã làm</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of innerTable.data; track data) {
                      <tr>
                        <td>{{ data.email }}</td>
                        <td>{{ data.fullName }}</td>
                        <td>{{ data.actualManHour }}</td>
                      </tr>
                      }
                    </tbody>
                  </nz-table>
                </tr>
              }
            </tbody>
          </nz-table>
        </div>
      
        <div>
          <div class="font-semibold mb-4 text-red-600">Công việc quá hạn</div>
          <nz-table #overdueTaskTable nzSize="small" [nzFrontPagination]="false" [nzData]="dashboard.overdueTasks" [nzLoading]="isFetchAllContractLoading" [nzBordered]="true" [nzScroll]="{ y: '250px' }">
            <thead>
              <tr>
                <th></th>
                <th>Tên công việc</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày hoàn thành</th>
                <th>Ngày kết thúc</th>
                <th>Số giờ làm</th>
              </tr>
            </thead>
            <tbody>
              @for (data of overdueTaskTable.data; track data.id){
                <tr>
                  <td [(nzExpand)]="data.expand"></td>  
                  <td class="border-b text-sm">{{ data.title }}</td>
                  <td class="border-b text-sm">{{ data.startDate ? (data.startDate | date: 'dd-MM-yyyy HH:mm:ss') : 'Không xác định' }}</td>
                  <td class="border-b text-sm">{{ data.actualStartAt ? (data.actualStartAt | date: 'dd-MM-yyyy HH:mm:ss') : 'Không xác định' }}</td>
                  <td class="border-b text-sm">{{ data.actualFinishAt ? (data.actualFinishAt | date: 'dd-MM-yyyy HH:mm:ss') : 'Không xác định' }}</td>
                  <td class="border-b text-sm">{{ data.endDate ? (data.endDate | date: 'dd-MM-yyyy HH:mm:ss') : 'Không xác định' }}</td>
                  <td class="border-b text-sm">{{ data.manHour ? data.manHour : 'Không xác định' }}</td>
                </tr>
                <tr [nzExpand]="data.expand" >
                  <nz-table #innerTable [nzData]="data.assignees" nzSize="small" [nzShowPagination]="false">
                    <thead>
                      <tr>
                        <td [colSpan]="5">
                          <div class="flex justify-around text-lg my-2 space-x-4">
                            Danh sách thành viên đang tham gia
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th>Email</th>
                        <th>Tên</th>
                        <th>Số giờ đã làm</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of innerTable.data; track data) {
                      <tr>
                        <td>{{ data.email }}</td>
                        <td>{{ data.fullName }}</td>
                        <td>{{ data.actualManHour }}</td>
                        
                      </tr>
                      }
                    </tbody>
                  </nz-table>
                </tr>
              }
            </tbody>
          </nz-table>  
        </div>

      </div>
    </div>
  </div>
</div>
