<ion-content [fullscreen]="true">
  <div class="border-padding">
    <div class="flex flex-col">
      <span [routerLink]="['/project-list/1']" class="cursor-pointer text-xl">Dự Án 1</span>
      <span [routerLink]="['/project-list/2']" class="cursor-pointer text-xl">Dự Án 2</span>
      <span [routerLink]="['/project-list/3']" class="cursor-pointer text-xl">Dự Án 3</span>
      <span [routerLink]="['/project-list/4']" class="cursor-pointer text-xl">Dự Án 4</span>
    </div>
  </div>
</ion-content>
