<div
  class="bg-white p-2"
  [ngClass]="{
    'm-1': !isDesktopView,
    'flex rounded-lg shadow-md my-4 mx-6': isDesktopView
  }"
>
  @if (isCreateMode) {
  <div class="w-full">
    <form
      [formGroup]="recruitmentForm"
      nz-form
      nzLayout="vertical"
      class="bg-white p-4"
      [ngClass]="{
        'mx-8': isDesktopView
      }"
    >
      <div class="flex justify-between">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Tựa đề bài đăng</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập tựa đề bài đăng'">
            <input nz-input formControlName="title" placeholder="Nhập tựa đề bài đăng" style="border-radius: 10px; border-color: gainsboro; width: 95%" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Hiển thị cho mọi người</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isOpen"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Description Field -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Nội dung bài đăng</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng nhập nội dung bài đăng'">
          <editor [apiKey]="editorKey" [init]="init" formControlName="content"></editor>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Ảnh bài tuyển dụng</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Vui lòng tải lên tài liệu chứng minh!">
          <nz-upload
            ngDefaultControl
            formControlName="files"
            [(nzFileList)]="fileList"
            [nzBeforeUpload]="beforeUpload"
            [nzRemove]="removeUpload"
            [required]="true"
            [nzMultiple]="true"
            [nzShowUploadList]="true"
            class="mb-2"
          >
            <button nz-button class="flex justify-center items-center">
              <mat-icon fontIcon="file_upload"></mat-icon>
              <span class="px-2">Tải lên tài liệu</span>
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div class="flex items-center justify-end">
            <button nz-button nzType="default" [disabled]="recruitmentForm.invalid" (click)="onSubmit()">Tạo Bài Đăng Tuyển</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  } @else {
  <div class="w-full">
    @if (!isDesktopView) {
    <div class="flex justify-around my-2">
      <button nz-button nzType="default" (click)="openRecruitmentDetailsPreview()">
        <span class="px-2">Preview</span>
      </button>
      <button nz-button nzType="default" (click)="openApplicantListDialog()">
        <span class="px-2">Danh sách đơn nộp</span>
      </button>
    </div>
    <form [formGroup]="recruitmentForm" nz-form nzLayout="vertical" class="p-4">
      <div class="flex justify-between">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Tựa đề bài đăng</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập tựa đề bài đăng'">
            <input nz-input formControlName="title" placeholder="Nhập tựa đề bài đăng" (input)="onInfoChange()" style="border-radius: 10px; border-color: gainsboro; width: 95%" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Hiển thị cho mọi người</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isOpen" (ngModelChange)="onInfoChange()"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Description Field -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Nội dung bài đăng</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng nhập nội dung bài đăng'">
          <editor [apiKey]="editorKey" [init]="init" formControlName="content"></editor>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Ảnh bài tuyển dụng</nz-form-label>
        @for (image of recruitmentFileList; track image.id) {
        <div>
          <nz-tag [nzColor]="'blue'" class="flex mb-2 py-1 space-x-2 items-center">
            <a [href]="image.imageUrl" target="_blank">{{ image.fileName }}</a>
            <mat-icon fontIcon="delete" class="cursor-pointer" (click)="deleteAttachment(image.id)"></mat-icon>
          </nz-tag>
        </div>
        }
        <nz-form-control [nzSpan]="24">
          <nz-upload
            ngDefaultControl
            [(nzFileList)]="fileList"
            [nzBeforeUpload]="beforeUpload"
            [nzRemove]="removeUpload"
            [nzMultiple]="true"
            [nzShowUploadList]="true"
            class="mb-2 upload-container"
          >
            <div class="flex justify-between w-full">
              <button nz-button class="flex justify-center items-center">
                <mat-icon fontIcon="file_upload"></mat-icon>
                <span class="px-2">Tải lên tài liệu</span>
              </button>
              @if (fileList.length > 0) {
              <button nz-button nzType="primary" class="flex justify-center items-center" (click)="$event.stopPropagation(); uploadAttachment()">
                <span class="px-2">Lưu tài liệu</span>
              </button>
              }
            </div>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div class="flex items-center justify-end">
            <button nz-button nzType="default" [disabled]="recruitmentForm.invalid || !isUpdating" (click)="onSubmit()">Cập Nhật</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
    } @else {
    <nz-tabset>
      <nz-tab nzTitle="Cập Nhật Tuyển Dụng">
        <form [formGroup]="recruitmentForm" nz-form nzLayout="vertical" class="bg-white p-8">
          <div class="flex justify-between">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Tựa đề bài đăng</nz-form-label>
              <nz-form-control [nzErrorTip]="'Vui lòng nhập tựa đề bài đăng'">
                <input
                  nz-input
                  formControlName="title"
                  placeholder="Nhập tựa đề bài đăng"
                  (input)="onInfoChange()"
                  style="border-radius: 10px; border-color: gainsboro; width: 95%"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Hiển thị cho mọi người</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName="isOpen" (ngModelChange)="onInfoChange()"></nz-switch>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Description Field -->
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Nội dung bài đăng</nz-form-label>
            <nz-form-control [nzErrorTip]="'Vui lòng nhập nội dung bài đăng'">
              <editor [apiKey]="editorKey" [init]="init" formControlName="content"></editor>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="24">Ảnh bài tuyển dụng</nz-form-label>
            @for (image of recruitmentFileList; track image.id) {
            <div>
              <nz-tag [nzColor]="'blue'" class="flex mb-2 py-1 space-x-2 items-center">
                <a [href]="image.imageUrl" target="_blank">{{ image.fileName }}</a>
                <mat-icon fontIcon="delete" class="cursor-pointer" (click)="deleteAttachment(image.id)"></mat-icon>
              </nz-tag>
            </div>
            }
            <nz-form-control [nzSpan]="24">
              <nz-upload
                ngDefaultControl
                [(nzFileList)]="fileList"
                [nzBeforeUpload]="beforeUpload"
                [nzRemove]="removeUpload"
                [nzMultiple]="true"
                [nzShowUploadList]="true"
                class="mb-2 upload-container"
              >
                <div class="flex justify-between w-full">
                  <button nz-button class="flex justify-center items-center">
                    <mat-icon fontIcon="file_upload"></mat-icon>
                    <span class="px-2">Tải lên tài liệu</span>
                  </button>
                  @if (fileList.length > 0) {
                  <button nz-button nzType="primary" class="flex justify-center items-center" (click)="$event.stopPropagation(); uploadAttachment()">
                    <span class="px-2">Lưu tài liệu</span>
                  </button>
                  }
                </div>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <div class="flex items-center justify-end">
                <button nz-button nzType="default" [disabled]="recruitmentForm.invalid || !isUpdating" (click)="onSubmit()">Cập Nhật</button>
              </div>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-tab>
      <nz-tab nzTitle="Danh Sách Đơn Nộp" (nzSelect)="onCollapseOpen()">
        <div class="mx-8 mt-6">
          <nz-table #nestedTable [nzData]="applicantList" nzSize="small" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Thông Tin</th>
                <th><p class="text-center">Trạng Thái</p></th>
                <th><p class="text-center">Thư Mục CV</p></th>
                <th><p class="text-center">Hành Động</p></th>
              </tr>
            </thead>
            <tbody>
              @for (applicant of applicantList; track applicant.id) {
              <tr>
                <td>
                  <span>Tên: {{ applicant.candidate.fullName }}</span>
                  <p>Email: {{ applicant.candidate.email }}</p>
                  <p class="text-right pt-2">Gửi vào: {{ applicant.createdTime | dateDisplay }}</p>
                </td>
                <td>
                  <nz-tag class="w-full text-center" [nzColor]="getStatusColor(applicant.status)" style="padding: 1px 3px 1px 3px; font-size: 11px">
                    {{ applicationStatus[applicant.status] }}
                  </nz-tag>
                </td>
                <td>
                  <div class="flex items-center justify-center">
                    <button nz-button nzType="primary"><a [href]="applicant.cvFiles[0].url" [download]="applicant.cvFiles[0].fileName">Tải</a></button>
                  </div>
                </td>
                <td>
                  <div class="flex items-center justify-around">
                    <button nz-button nzType="primary" (click)="acceptApplicant(applicant.id)" style="padding: 1px 3px 1px 3px; font-size: 12px">Chấp nhận</button>
                    <button nz-button nzType="default" nzDanger (click)="rejectApplicant(applicant.id)" class="mt-1" style="padding: 1px 3px 1px 3px; font-size: 12px">
                      Từ chối
                    </button>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </nz-table>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Preview">
        @if (isDesktopView) {
        <div class="w-full">
          <app-recruitment-post-details [reloadFromUpdate]="triggerPostDetailsReload" [currentPostId]="recruitmentId" [isPreview]="true"></app-recruitment-post-details>
        </div>
        }
      </nz-tab>
    </nz-tabset>
    }
  </div>
  }
</div>
