<div
  class="bg-white p-2"
  [ngClass]="{
    'm-1': !isDesktopView,
    'flex rounded-lg shadow-md my-4 mx-6': isDesktopView
  }"
>
  @if (isCreateMode) {
  <div class="w-full">
    <form
      [formGroup]="recruitmentForm"
      nz-form
      nzLayout="vertical"
      class="bg-white p-4"
      [ngClass]="{
        'mx-8': isDesktopView
      }"
    >
      <div class="flex justify-between">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Tựa đề bài đăng</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập tựa đề bài đăng'">
            <input nz-input formControlName="title" placeholder="Nhập tựa đề bài đăng" style="border-radius: 10px; border-color: gainsboro; width: 95%" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Hiển thị cho mọi người</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isOpen"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Description Field -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Nội dung bài đăng</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng nhập nội dung bài đăng'">
          <editor [apiKey]="editorKey" [init]="init" formControlName="content"></editor>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Ảnh bài tuyển dụng</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Vui lòng tải lên tài liệu chứng minh!">
          <nz-upload
            ngDefaultControl
            formControlName="files"
            [(nzFileList)]="fileList"
            [nzBeforeUpload]="beforeUpload"
            [nzRemove]="removeUpload"
            [nzMultiple]="true"
            [nzShowUploadList]="true"
            class="mb-2"
          >
            <button nz-button class="flex justify-center items-center">
              <mat-icon fontIcon="file_upload"></mat-icon>
              <span class="px-2">Tải lên tài liệu</span>
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div class="flex items-center justify-end">
            <button nz-button nzType="default" [disabled]="recruitmentForm.invalid" (click)="onSubmit()">Tạo Bài Đăng Tuyển</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  } @else {
  <div [class]="{ 'w-full': !isDesktopView, 'w-1/2': isDesktopView }">
    @if (!isDesktopView) {
    <div class="flex justify-around my-2">
      <button nz-button nzType="default" (click)="openRecruitmentDetailsPreview()">
        <span class="px-2">Preview</span>
      </button>
      <button nz-button nzType="default" (click)="openApplicantListDialog()">
        <span class="px-2">Danh sách đơn nộp</span>
      </button>
    </div>
    }
    <form
      [formGroup]="recruitmentForm"
      nz-form
      nzLayout="vertical"
      [ngClass]="{
        'p-4': !isDesktopView,
        'bg-white mx-8 p-4 border': isDesktopView
      }"
    >
      <div class="flex justify-between">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Tựa đề bài đăng</nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập tựa đề bài đăng'">
            <input nz-input formControlName="title" placeholder="Nhập tựa đề bài đăng" (input)="onInfoChange()" style="border-radius: 10px; border-color: gainsboro; width: 95%" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Hiển thị cho mọi người</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="isOpen" (ngModelChange)="onInfoChange()"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Description Field -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Nội dung bài đăng</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng nhập nội dung bài đăng'">
          <editor [apiKey]="editorKey" [init]="init" formControlName="content"></editor>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Ảnh bài tuyển dụng</nz-form-label>
        @for (image of recruitmentFileList; track image.id) {
        <div>
          <nz-tag [nzColor]="'blue'" class="flex mb-2 py-1 space-x-2 items-center">
            <a [href]="image.imageUrl" target="_blank">{{ image.fileName }}</a>
            <mat-icon fontIcon="delete" class="cursor-pointer" (click)="deleteAttachment(image.id)"></mat-icon>
          </nz-tag>
        </div>
        }
        <nz-form-control [nzSpan]="24">
          <nz-upload
            ngDefaultControl
            [(nzFileList)]="fileList"
            [nzBeforeUpload]="beforeUpload"
            [nzRemove]="removeUpload"
            [nzMultiple]="true"
            [nzShowUploadList]="true"
            class="mb-2 upload-container"
          >
            <div class="flex justify-between w-full">
              <button nz-button class="flex justify-center items-center">
                <mat-icon fontIcon="file_upload"></mat-icon>
                <span class="px-2">Tải lên tài liệu</span>
              </button>
              @if (fileList.length > 0) {
              <button nz-button nzType="primary" class="flex justify-center items-center" (click)="$event.stopPropagation(); uploadAttachment()">
                <span class="px-2">Lưu tài liệu</span>
              </button>
              }
            </div>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div class="flex items-center justify-end">
            <button nz-button nzType="default" [disabled]="recruitmentForm.invalid || !isUpdating" (click)="onSubmit()">Cập Nhật</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>

    <div class="mx-8 mt-6">
      <nz-collapse>
        <nz-collapse-panel nzHeader="Xem Danh Sách Đơn Nộp" [nzActive]="isCollapseOpen" (nzActiveChange)="onCollapseOpen($event)">
          <nz-table #nestedTable [nzData]="applicantList" nzSize="small" [nzLoading]="isApplicantTableLoading" [nzShowPagination]="false">
            <thead>
              <tr>
                <th style="width: 20px"></th>
                <th>Thông Tin</th>
                <th>Trạng Thái</th>
                <th>Hành Động</th>
              </tr>
            </thead>
            <tbody>
              @for (applicant of applicantList; track applicant.id) {
              <tr>
                <td [nzExpand]="expandSet.has(applicant.id)" [nzExpandIcon]="expandIcon"></td>
                <td>
                  <span>{{ applicant.candidate.fullName }}</span>
                </td>
                <td>
                  <nz-tag class="w-full text-center" [nzColor]="getStatusColor(applicant.status)">
                    {{ applicationStatus[applicant.status] }}
                  </nz-tag>
                </td>
                <td>
                  <div class="flex flex-col items-center">
                    <button nz-button nzType="primary" (click)="acceptApplicant(applicant.id)">Chấp nhận</button>
                    <button nz-button nzType="default" nzDanger (click)="rejectApplicant(applicant.id)" class="mt-1">Từ chối</button>
                  </div>
                </td>
              </tr>
              <tr [nzExpand]="expandSet.has(applicant.id)" class="px-4">
                <span>Email: {{ applicant.candidate.email }}</span>
                <br />
                <p class="text-right pt-2">Gửi vào: {{ applicant.createdTime | dateDisplay }}</p>
              </tr>
              @if (applicant.cvFiles.length > 0) {
              <tr [nzExpand]="expandSet.has(applicant.id)">
                <nz-table #innerTable [nzData]="applicant.cvFiles" nzSize="small" [nzShowPagination]="false">
                  <thead>
                    <tr>
                      <th>Tên File</th>
                      <th>Hành Động</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (data of innerTable.data; track data) {
                    <tr>
                      <td>{{ data.fileName }}</td>
                      <td class="flex justify-center">
                        <button nz-button nzType="primary"><a [href]="data.url" [download]="data.fileName">Tải</a></button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </nz-table>
              </tr>
              }
              <ng-template #expandIcon>
                @if (applicant.cvFiles) { @if (!expandSet.has(applicant.id)) {
                <span nz-icon nzType="plus-circle" nzTheme="outline" (click)="onExpandChange(applicant.id, true)"></span>
                } @else {
                <span nz-icon nzType="minus-circle" nzTheme="outline" (click)="onExpandChange(applicant.id, false)"></span>
                }}
              </ng-template>
              }
            </tbody>
          </nz-table>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
  @if (isDesktopView) {
  <div class="w-1/2">
    <app-recruitment-post-details [reloadFromUpdate]="triggerPostDetailsReload" [currentPostId]="recruitmentId" [isPreview]="true"></app-recruitment-post-details>
  </div>
  } }
</div>
