<div class="min-h-[70vh] max-w-7xl mx-auto p-4">
  <!-- Grid container to arrange Chart and List side by side -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- Chart Section (Left) -->
    <div class="bg-white rounded-lg shadow-sm p-6">
      <div *ngIf="!isLoading" class="flex flex-wrap items-center justify-between mb-6 space-y-2">
        <div class="text-xl font-semibold w-fit mr-2">Tổng quan phân chia cổ phần</div>
        <nz-date-picker
          [(ngModel)]="selectedDate"
          (ngModelChange)="onDateChange($event)"
          [nzAllowClear]="false"
          [nzDisabledDate]="disableFutureDate"
          nzFormat="dd/MM/yyyy"
        ></nz-date-picker>
      </div>
      <div class="aspect-square max-w-md mx-auto pt-20">
        <canvas id="equityChart"></canvas>
      </div>
      <!-- Loading spinner -->
      <div *ngIf="isLoading" class="flex justify-center p-4">
        <nz-spin nzSimple></nz-spin>
      </div>
    </div>

    <!-- List Section (Right) -->
    <div class="min-h-[70vh] bg-white rounded-lg shadow-sm p-6">
      <div class="text-xl font-semibold mb-4">Danh sách cổ đông</div>
      <div *ngIf="!isLoading" class="space-y-4 overflow-y-auto pt-6 pr-5 max-h-[1000px]">
        <div *ngFor="let equity of equities" class="border-b pb-4">
          <div class="flex justify-between items-center">
            <div>
              <div class="font-medium text-lg">{{ equity.userFullName }}</div>
              <div class="text-sm text-gray-500">{{ stakeholderTypes[equity.stakeHolderType] }}</div>
            </div>
            <div class="text-right">
              <div class="font-medium text-lg">{{ equity.percentage }}% cổ phần</div>
            </div>
          </div>
        </div>

        <!-- Unowned Shares -->
        <div class="border-b pb-4">
          <div class="flex justify-between items-center">
            <div>
              <div class="font-medium text-lg">Chưa sở hữu</div>
            </div>
            <div class="text-right">
              <div class="font-medium text-lg">{{ 100 - totalPercentage }}% cổ phần</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Loading spinner -->
      <div *ngIf="isLoading" class="flex justify-center p-4">
        <nz-spin nzSimple></nz-spin>
      </div>
    </div>
  </div>
</div>
